
/* ALL STYLES HAVE BEEN MIGRATED TO INDIVIDUAL LESS FILES AND COMPILED TO CUSTOM.CSS */

/********* Additional Styles *********/
/****** Steven Aldous 02.28.17 *******/


/********* Nav *********/
header.header-main .offcanvas-navbar .pull-left.navbar-nav > li > a:focus, header.header-main .offcanvas-navbar .pull-left.navbar-nav > li > a{
  text-rendering: optimizeLegibility;
}
.offcanvas-navbar .pull-right.navbar-nav > li > a {
  font-weight: 600;
  letter-spacing: 0.02em;
}
.dropdown-navbar ul.navbar-nav li > a.brand-item-em{
  color: #004d72 !important;
  background-color: #9dd825 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}

@media (max-width: 767px) {
  .dropdown-navbar .navbar-header h5{
    padding-right: 70px;
    padding-top: 26.5px;
  }
  .nav-link.dropdown-toggle .fa-search{
    position: relative;
    float: left;
    padding: 15px 10px;
    margin-top: 8px;
    margin-right: 15px;
    color: #004d72;
  }
  .header-employee .nav-link.dropdown-toggle .fa-search{
    color: #fff;
  }

  .navbar-brand {
    width: 100%;
  }
  .navbar-brand img{
    text-align: center;
    margin: 0 auto;
  }
}
#collapseSearch{
  border-bottom: solid #ccc 1px;
}
#collapseSearch .btn, #collapseSearch input{
  padding: 1.25em 1em;
}
#collapseSearch input{
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px;
  height: 60px;

}

/********* myEDCC Sidebar *********/
.sidebar-offcanvas{
  overflow-y: auto;
}
/********* Community Board Internal Styles *********/
textarea#comments{
  max-width: 100%;
}
/********* Footer Styles *********/
footer.page-footer li>a{
  color: #f4f4f4;
}
footer.page-footer li>a:hover{
  color: #6090a7;
}
footer.page-footer .language-button .btn{
  padding: 1em 2em;
}

/********* Registration Styles *********/
section.login-hero .jumbotron .landing-left h1{
  font-size: 3.75em;
  letter-spacing: 0.02em;
}
@media (min-width: 543px) and (max-width: 911px;) {
  section.login-hero .jumbotron .landing-left h1{
    font-size: 3em;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 543px) {
  section.login-hero .jumbotron .landing-left h1{
    font-size: 2em;
    letter-spacing: 0.01em;
  }
}
.selectdiv{
  position: relative;
}
.selectdiv:after{
  content: '>';
  font: 1.5rem "Consolas", monospace;
  color: #707070;
  -webkit-transform: rotate(90deg) ;
  -moz-transform: rotate(90deg) ;
  -ms-transform: rotate(90deg) ;
  transform: rotate(90deg) ;
  right: 20px;
  top: 16px;
  padding: 0 0 2px;
  position: absolute;

}

select#quarter{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  text-align: -webkit-center;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  -webkit-text-align-last: center;

  padding: 6px 30%;


}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .flex-direction-nav-featured a{
        margin-top: 4%;
    }

    /* Safari only override */
    ::i-block-chrome,.flex-direction-nav-featured a{
        color: red;
    }
}

#quarter::-webkit-input-placeholder{
  color: red;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
}

/********* Student Hero *********/
@media (min-width: 543px) and (max-width: 991px) {
  section.students-hero .heading-centered {
    margin-top: 5%;
  }
}

/********* Dates & Events *********/
section.news-events .title{
  padding: 2em 0;
  margin: 0;
}
section.news-events .title h4{
  color: #fff;

}
/********* Featured Cards *********/
section.card-features .article-content .sub-link{
  font-size: 1em;
}


/********* Community Board loop *********/
.article-content .sub-link{
  color: #6090a7;
  text-decoration: underline;
  font-size: .9em;
  display: block;
  line-height: 1.2;
  padding-top: 0.5em;
}
.article-content .sub-link:hover{
  color: #004d72;
}

/********* Article Video Demo *********/
@media  (max-width: 543px) {
  iframe {
    height: 200px;
  }
}

/********* Class Results *********/
section.class-search .list-search em{
  display: inline-block;
}
/********* CTA Demo *********/
.pos-bottom {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
}
