/*****************GLOBAL Typography / Theme Styles************************/
.wrapper {
  padding: 220px 0 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    padding: 211px 0 0 0;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0;
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #82a600;
}
a:hover {
  text-decoration: none;
}
a:focus,
a:hover {
  color: #046296;
}
.acf-field-wysiwyg.mce_height_adjust .acf-editor-wrap iframe {
  height: 100px!important;
  min-height: 100px!important;
}
.brand-bg-accent {
  background-color: #6090a7!important;
}
/* Accent Blue */
.brand-bg-primary {
  background-color: #004d72!important;
}
/* Brand Blue */
.brand-bg-secondary {
  background-color: #02496b!important;
}
/* Dark Blue */
.brand-bg-tertiary {
  background-color: #9dd825!important;
}
/* Brand Green */
.brand-bg-white {
  background-color: #ffffff!important;
}
/* White */
.brand-bg-grey {
  background-color: #f4f4f4!important;
}
/* Light Grey */
.brand-bg-dark {
  background-color: #262626!important;
}
/* Dark Grey */
/* Accent Blue */
/* Brand Blue */
/* Dark Blue */
/* Darkest Blue */
/* Brand Green */
/* Brand Green Accent */
/* White */
/* Light Grey */
/* Light Grey Accent */
/* Grey */
/* Dark Grey */
/* Transparent */
.brand-color-primary {
  color: #004d72!important;
}
.brand-color-secondary {
  color: #02496b!important;
}
.brand-color-tertiary {
  color: #9dd825!important;
}
.bg-hip-grey {
  background-color: #e9e9e9!important;
}
.smaller {
  font-size: 14px;
  line-height: 1.6;
}
.bg-hip-green {
  background-color: #82a600;
}
.bg-infinit-blue {
  background-color: #82a600;
}
.bg-hip-charcoal {
  background-color: #2f3336;
}
.bg-hip-white {
  background-color: #fff;
  z-index: -1;
}
.bg-infinit-yellow {
  background-color: #ff9700;
}
.img-circle {
  border-radius: 50%;
}
.img-centered {
  margin: 0px auto;
  display: block;
}
.text-italicize {
  font-style: italic!important;
}
.text-bold {
  font-weight: bold!important;
}
button:focus {
  outline: none!important;
}
hr.hr-dark {
  border-top: 1px solid #ccc;
}
.brand-bg-dkgrey {
  background-color: #DDDDDD;
}
hr.hr-ltdark {
  border-top: 1px solid #ccc;
}
section.hero .jumbotron {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 730px;
  border-radius: 0;
  margin-bottom: 0;
  background-position: bottom;
}
section.hero .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  section.hero .jumbotron {
    padding: 6rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.hero .jumbotron {
    position: relative;
    padding: 6rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.hero .jumbotron {
    padding: 4rem 2rem;
    position: relative;
    height: 500px;
  }
}
@media (max-width: 543px) {
  section.hero .jumbotron {
    padding: 4rem 2rem;
    position: relative;
    height: 500px;
    width: 100%;
  }
}
section.hero .jumbotron .checker-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 1;
}
@media (max-width: 991px) {
  section.hero .jumbotron .checker-title {
    position: relative;
    padding-top: 20%;
  }
}
@media (max-width: 991px) {
  section.hero .jumbotron .checker-title .head-comp {
    padding: 0;
  }
}
section.hero .jumbotron .checker-title h1 {
  padding: 30px;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 11px 10px 0px rgba(77, 81, 88, 0.42);
}
@media (max-width: 1199px) {
  section.hero .jumbotron .checker-title h1 {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  section.hero .jumbotron .checker-title h1 {
    font-size: 3rem;
  }
}
@media (max-width: 543px) {
  section.hero .jumbotron .checker-title h1 {
    font-size: 2rem;
  }
}
section.image-hero .jumbotron {
  height: 340px;
}
@media (max-width: 1199px) {
  section.image-hero .jumbotron {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  section.image-hero .jumbotron {
    padding: 5rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.image-hero .jumbotron {
    position: relative;
    padding: 5rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.image-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 100%;
  }
}
@media (max-width: 543px) {
  section.image-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 0px;
}
.jumbotron::after,
.jumbotron::before,
.offset-overlay:after {
  content: "";
  display: table;
  clear: both;
}
.jumbotron.brand-overlay-dark:after {
  background-color: rgba(16, 88, 124, 0.9);
}
.jumbotron.overlay-0:after {
  background-color: rgba(0, 0, 0, 0);
}
.jumbotron.overlay-10:after {
  background-color: rgba(0, 0, 0, 0.1);
}
.jumbotron.overlay-20:after {
  background-color: rgba(0, 0, 0, 0.2);
}
.jumbotron.overlay-30:after {
  background-color: rgba(0, 0, 0, 0.3);
}
.jumbotron.overlay-40:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.jumbotron.overlay-50:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron.overlay-60:after {
  background-color: rgba(0, 0, 0, 0.6);
}
.jumbotron.overlay-70:after {
  background-color: rgba(0, 0, 0, 0.7);
}
.jumbotron.overlay-80:after {
  background-color: rgba(0, 0, 0, 0.8);
}
.jumbotron.overlay-90:after {
  background-color: rgba(0, 0, 0, 0.9);
}
.jumbotron:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.jumbotron:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  right: 0;
  bottom: 0;
  display: block;
}
.offset-overlay:after {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.brand-color {
  color: #82a600;
}
.brand-bg-color {
  background-color: #82a600;
}
@media (min-width: 992px) {
  .auto-clear .col-lg-1:nth-child(12n+1) {
    clear: left;
  }
  .auto-clear .col-lg-2:nth-child(6n+1) {
    clear: left;
  }
  .auto-clear .col-lg-3:nth-child(4n+1) {
    clear: left;
  }
  .auto-clear .col-lg-4:nth-child(3n+1) {
    clear: left;
  }
  .auto-clear .col-lg-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .auto-clear .col-md-1:nth-child(12n+1) {
    clear: left;
  }
  .auto-clear .col-md-2:nth-child(6n+1) {
    clear: left;
  }
  .auto-clear .col-md-3:nth-child(4n+1) {
    clear: left;
  }
  .auto-clear .col-md-4:nth-child(3n+1) {
    clear: left;
  }
  .auto-clear .col-md-6:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .auto-clear .col-sm-1:nth-child(12n+1) {
    clear: left;
  }
  .auto-clear .col-sm-2:nth-child(6n+1) {
    clear: left;
  }
  .auto-clear .col-sm-3:nth-child(4n+1) {
    clear: left;
  }
  .auto-clear .col-sm-4:nth-child(3n+1) {
    clear: left;
  }
  .auto-clear .col-sm-6:nth-child(odd) {
    clear: left;
  }
}
@media (max-width: 543px) {
  .auto-clear .col-xs-1:nth-child(12n+1) {
    clear: left;
  }
  .auto-clear .col-xs-2:nth-child(6n+1) {
    clear: left;
  }
  .auto-clear .col-xs-3:nth-child(4n+1) {
    clear: left;
  }
  .auto-clear .col-xs-4:nth-child(3n+1) {
    clear: left;
  }
  .auto-clear .col-xs-6:nth-child(odd) {
    clear: left;
  }
}
@media (max-width: 543px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-right: 15px!important;
    padding-left: 15px!important;
  }
}
.pad-0-top {
  padding-top: 0%!important;
}
.pad-1-top {
  padding-top: 1%!important;
}
.pad-2-top {
  padding-top: 2%!important;
}
.pad-3-top {
  padding-top: 3%!important;
}
.pad-4-top {
  padding-top: 4%!important;
}
.pad-5-top {
  padding-top: 5%!important;
}
.pad-6-top {
  padding-top: 6%!important;
}
.pad-7-top {
  padding-top: 7%!important;
}
.pad-8-top {
  padding-top: 8%!important;
}
.pad-9-top {
  padding-top: 9%!important;
}
.pad-10-top {
  padding-top: 10%!important;
}
.pad-10-top {
  padding-top: 10%!important;
}
.pad-11-top {
  padding-top: 11%!important;
}
.pad-12-top {
  padding-top: 12%!important;
}
.pad-13-top {
  padding-top: 13%!important;
}
.pad-14-top {
  padding-top: 14%!important;
}
.pad-15-top {
  padding-top: 15%!important;
}
.pad-16-top {
  padding-top: 16%!important;
}
.pad-17-top {
  padding-top: 17%!important;
}
.pad-18-top {
  padding-top: 18%!important;
}
.pad-19-top {
  padding-top: 19%!important;
}
.pad-20-top {
  padding-top: 20%!important;
}
.pad-0-bottom {
  padding-bottom: 0%!important;
}
.pad-1-bottom {
  padding-bottom: 1%!important;
}
.pad-2-bottom {
  padding-bottom: 2%!important;
}
.pad-3-bottom {
  padding-bottom: 3%!important;
}
.pad-4-bottom {
  padding-bottom: 4%!important;
}
.pad-5-bottom {
  padding-bottom: 5%!important;
}
.pad-6-bottom {
  padding-bottom: 6%!important;
}
.pad-7-bottom {
  padding-bottom: 7%!important;
}
.pad-8-bottom {
  padding-bottom: 8%!important;
}
.pad-9-bottom {
  padding-bottom: 9%!important;
}
.pad-10-bottom {
  padding-bottom: 10%!important;
}
.pad-11-bottom {
  padding-bottom: 11%!important;
}
.pad-12-bottom {
  padding-bottom: 12%!important;
}
.pad-13-bottom {
  padding-bottom: 13%!important;
}
.pad-14-bottom {
  padding-bottom: 14%!important;
}
.pad-15-bottom {
  padding-bottom: 15%!important;
}
.pad-16-bottom {
  padding-bottom: 16%!important;
}
.pad-17-bottom {
  padding-bottom: 17%!important;
}
.pad-18-bottom {
  padding-bottom: 18%!important;
}
.pad-19-bottom {
  padding-bottom: 19%!important;
}
.pad-20-bottom {
  padding-bottom: 20%!important;
}
.pad-0-both {
  padding-top: 0%!important;
  padding-bottom: 0%!important;
}
.pad-1-both {
  padding-top: 1%!important;
  padding-bottom: 1%!important;
}
.pad-2-both {
  padding-top: 2%!important;
  padding-bottom: 2%!important;
}
.pad-3-both {
  padding-top: 3%!important;
  padding-bottom: 3%!important;
}
.pad-4-both {
  padding-top: 4%!important;
  padding-bottom: 4%!important;
}
.pad-5-both {
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
.pad-6-both {
  padding-top: 6%!important;
  padding-bottom: 6%!important;
}
.pad-7-both {
  padding-top: 7%!important;
  padding-bottom: 7%!important;
}
.pad-8-both {
  padding-top: 8%!important;
  padding-bottom: 8%!important;
}
.pad-9-both {
  padding-top: 9%!important;
  padding-bottom: 9%!important;
}
.pad-10-both {
  padding-top: 10%!important;
  padding-bottom: 10%!important;
}
.pad-11-both {
  padding-top: 11%!important;
  padding-bottom: 11%!important;
}
.pad-12-both {
  padding-top: 12%!important;
  padding-bottom: 12%!important;
}
.pad-13-both {
  padding-top: 13%!important;
  padding-bottom: 13%!important;
}
.pad-14-both {
  padding-top: 14%!important;
  padding-bottom: 14%!important;
}
.pad-15-both {
  padding-top: 15%!important;
  padding-bottom: 15%!important;
}
.pad-16-both {
  padding-top: 16%!important;
  padding-bottom: 16%!important;
}
.pad-17-both {
  padding-top: 17%!important;
  padding-bottom: 17%!important;
}
.pad-18-both {
  padding-top: 18%!important;
  padding-bottom: 18%!important;
}
.pad-19-both {
  padding-top: 19%!important;
  padding-bottom: 19%!important;
}
.pad-20-both {
  padding-top: 20%!important;
  padding-bottom: 20%!important;
}
.margin-0-top {
  margin-top: 0%!important;
}
.margin-1-top {
  margin-top: 1%!important;
}
.margin-2-top {
  margin-top: 2%!important;
}
.margin-3-top {
  margin-top: 3%!important;
}
.margin-4-top {
  margin-top: 4%!important;
}
.margin-5-top {
  margin-top: 5%!important;
}
.margin-6-top {
  margin-top: 6%!important;
}
.margin-7-top {
  margin-top: 7%!important;
}
.margin-8-top {
  margin-top: 8%!important;
}
.margin-9-top {
  margin-top: 9%!important;
}
.margin-10-top {
  margin-top: 10%!important;
}
.margin-10-top {
  margin-top: 10%!important;
}
.margin-11-top {
  margin-top: 11%!important;
}
.margin-12-top {
  margin-top: 12%!important;
}
.margin-13-top {
  margin-top: 13%!important;
}
.margin-14-top {
  margin-top: 14%!important;
}
.margin-15-top {
  margin-top: 15%!important;
}
.margin-16-top {
  margin-top: 16%!important;
}
.margin-17-top {
  margin-top: 17%!important;
}
.margin-18-top {
  margin-top: 18%!important;
}
.margin-19-top {
  margin-top: 19%!important;
}
.margin-20-top {
  margin-top: 20%!important;
}
.margin-0-bottom {
  margin-bottom: 0%!important;
}
.margin-1-bottom {
  margin-bottom: 1%!important;
}
.margin-2-bottom {
  margin-bottom: 2%!important;
}
.margin-3-bottom {
  margin-bottom: 3%!important;
}
.margin-4-bottom {
  margin-bottom: 4%!important;
}
.margin-5-bottom {
  margin-bottom: 5%!important;
}
.margin-6-bottom {
  margin-bottom: 6%!important;
}
.margin-7-bottom {
  margin-bottom: 7%!important;
}
.margin-8-bottom {
  margin-bottom: 8%!important;
}
.margin-9-bottom {
  margin-bottom: 9%!important;
}
.margin-10-bottom {
  margin-bottom: 10%!important;
}
.margin-11-bottom {
  margin-bottom: 11%!important;
}
.margin-12-bottom {
  margin-bottom: 12%!important;
}
.margin-13-bottom {
  margin-bottom: 13%!important;
}
.margin-14-bottom {
  margin-bottom: 14%!important;
}
.margin-15-bottom {
  margin-bottom: 15%!important;
}
.margin-16-bottom {
  margin-bottom: 16%!important;
}
.margin-17-bottom {
  margin-bottom: 17%!important;
}
.margin-18-bottom {
  margin-bottom: 18%!important;
}
.margin-19-bottom {
  margin-bottom: 19%!important;
}
.margin-20-bottom {
  margin-bottom: 20%!important;
}
.margin-0-both {
  margin-top: 0%!important;
  margin-bottom: 0%!important;
}
.margin-1-both {
  margin-top: 1%!important;
  margin-bottom: 1%!important;
}
.margin-2-both {
  margin-top: 2%!important;
  margin-bottom: 2%!important;
}
.margin-3-both {
  margin-top: 3%!important;
  margin-bottom: 3%!important;
}
.margin-4-both {
  margin-top: 4%!important;
  margin-bottom: 4%!important;
}
.margin-5-both {
  margin-top: 5%!important;
  margin-bottom: 5%!important;
}
.margin-6-both {
  margin-top: 6%!important;
  margin-bottom: 6%!important;
}
.margin-7-both {
  margin-top: 7%!important;
  margin-bottom: 7%!important;
}
.margin-8-both {
  margin-top: 8%!important;
  margin-bottom: 8%!important;
}
.margin-9-both {
  margin-top: 9%!important;
  margin-bottom: 9%!important;
}
.margin-10-both {
  margin-top: 10%!important;
  margin-bottom: 10%!important;
}
.margin-11-both {
  margin-top: 11%!important;
  margin-bottom: 11%!important;
}
.margin-12-both {
  margin-top: 12%!important;
  margin-bottom: 12%!important;
}
.margin-13-both {
  margin-top: 13%!important;
  margin-bottom: 13%!important;
}
.margin-14-both {
  margin-top: 14%!important;
  margin-bottom: 14%!important;
}
.margin-15-both {
  margin-top: 15%!important;
  margin-bottom: 15%!important;
}
.margin-16-both {
  margin-top: 16%!important;
  margin-bottom: 16%!important;
}
.margin-17-both {
  margin-top: 17%!important;
  margin-bottom: 17%!important;
}
.margin-18-both {
  margin-top: 18%!important;
  margin-bottom: 18%!important;
}
.margin-19-both {
  margin-top: 19%!important;
  margin-bottom: 19%!important;
}
.margin-20-both {
  margin-top: 20%!important;
  margin-bottom: 20%!important;
}
@media (max-width: 543px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-right: 30px;
    padding-left: 30px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .col-justify {
    padding: 0!important;
  }
}
.head-comp {
  padding: 0 30px;
}
.card {
  box-shadow: none;
  position: relative;
  display: block;
  margin-bottom: 1.95rem;
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.card-block {
  padding: 2rem 0;
}
.no-gutter {
  margin-left: -1px;
  margin-right: -1px;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Black.eot');
  src: url('/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Black.woff') format('woff'), url('/fonts/Gotham-Black.ttf') format('truetype'), url('/fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 700;
  font-style: normal;
}
/**Gotham Bold**/
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.eot');
  src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Bold.woff') format('woff'), url('/fonts/Gotham-Bold.ttf') format('truetype'), url('/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Medium.eot');
  src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Medium.woff') format('woff'), url('/fonts/Gotham-Medium.ttf') format('truetype'), url('/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
/**Gotham Light**/
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Light.woff') format('woff'), url('/fonts/Gotham-Light.ttf') format('truetype'), url('/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
/**Gotham Book**/
@font-face {
  font-family: 'Gotham-Book';
  src: url('/fonts/Gotham-Book.eot');
  src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/Gotham-Book.woff') format('woff'), url('/fonts/Gotham-Book.ttf') format('truetype'), url('/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
.w900 {
  font-weight: 900!important;
}
.w800 {
  font-weight: 800!important;
}
.w700 {
  font-weight: 700!important;
}
.w600 {
  font-weight: 600!important;
}
.w500 {
  font-weight: 500!important;
}
.w400 {
  font-weight: 400!important;
}
.w300 {
  font-weight: 300!important;
}
.w200 {
  font-weight: 200!important;
}
.w100 {
  font-weight: 100!important;
}
html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  color: #2f3336;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
strong {
  font-weight: bold;
}
.light,
h1.light,
h1 .light,
h1 span.light,
h1.span.light,
h1.light span,
h2.light,
h2 .light,
h2 span.light,
h2.span.light,
h2.light span,
h3.light,
h3 .light,
h3 span.light,
h3.span.light,
h3.light span,
h4.light,
h4 .light,
h4 span.light,
h4.span.light,
h4.light span,
h5.light,
h5 .light,
h5 span.light,
h5.span.light,
h5.light span,
h6.light,
h6 .light,
h6 span.light,
h6.span.light,
h6.light span,
p.light,
p .light {
  color: rgba(255, 255, 255, 0.75);
}
.lighter,
h1.lighter,
h1 .lighter,
h1 span.lighter,
h1.span.lighter,
h1.lighter span,
h2.lighter,
h2 .lighter,
h2 span.lighter,
h2.span.lighter,
h2.lighter span,
h3.lighter,
h3 .lighter,
h3 span.lighter,
h3.span.lighter,
h3.lighter span,
h4.lighter,
h4 .lighter,
h4 span.lighter,
h4.span.lighter,
h4.lighter span,
h5.lighter,
h5 .lighter,
h5 span.lighter,
h5.span.lighter,
h5.lighter span,
h6.lighter,
h6 .lighter,
h6 span.lighter,
h6.span.lighter,
h6.lighter span,
p.lighter,
p .lighter {
  color: #ffffff;
}
h1 {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
  line-height: 1;
  color: #004d72;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}
h1 span {
  color: #9dd825!important;
}
h1 span.accent {
  color: #6090a7 !important;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
  line-height: 1.4;
  color: #004d72;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  h3 {
    line-height: 1;
    font-size: 2rem;
  }
}
h3 span {
  color: #9dd825!important;
}
h4 {
  font-family: 'Gotham', sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.25px;
  color: #252525;
  text-transform: uppercase;
  margin: 0;
}
h4 span.thin {
  font-weight: 300;
}
h5 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.22;
  color: #252525;
  text-transform: uppercase;
}
h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  text-transform: none;
}
p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: 1.4;
  text-align: left;
  color: #252525;
  text-transform: none;
}
@media (max-width: 767px) {
  p {
    font-size: 1.125rem;
  }
}
hr.lighter {
  border-top: 6px solid #ffffff !important;
}
hr.light {
  border-top-color: #fff!important;
}
hr.dark {
  border-top-color: #333!important;
}
hr.hr-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 6px solid #004d72;
  width: 85px;
  display: inline-block;
  left: 0;
}
hr.hr-md {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 3px solid #252525;
  width: 40px;
  display: block;
  text-align: left;
}
hr.hr-sm {
  margin-top: 0.75rem;
  margin-bottom: 0.6rem;
  border: 0;
  border-top: 3px solid #252525;
  width: 40px;
  display: inline-block;
  text-align: left;
}
.left-justify {
  text-align: left;
}
.text-centered {
  text-align: center!important;
}
.right-justify {
  text-align: right;
}
p.text-centered {
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    position: relative;
    margin-bottom: 0;
  }
}
.container.shrink.logo-navbar {
  height: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.container.logo-navbar {
  height: 100px;
}
@media (min-width: 992px) {
  .offcanvas-navbar.second {
    padding: 0;
    -webkit-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  .logo-navbar.second {
    padding: 15px 0 30px 0;
    -webkit-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  .second .navbar-header .navbar-brand img {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .second.top-nav-collapse .navbar-header .navbar-brand img {
    width: 50%;
  }
  .offcanvas-navbar.second.top-nav-collapse {
    padding: 0;
  }
  .logo-navbar.second.top-nav-collapse {
    padding: 15px 20px;
  }
}
.navbar-inverse {
  background-color: #ccc;
  border-bottom: 1px solid #ccc ;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}
.offcanvas-navbar {
  z-index: 9999;
}
.offcanvas-navbar .edcc-mobile {
  float: right!important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}
.offcanvas-navbar .edcc-mobile:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .offcanvas-navbar .pull-left.navbar-nav {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .offcanvas-navbar .pull-right.navbar-nav {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .offcanvas-navbar ul.navbar-nav {
    float: left;
    border: none;
    width: 100%;
    margin: 0;
  }
}
.offcanvas-navbar ul.navbar-nav li.active a {
  cursor: pointer;
}
@media (max-width: 767px) {
  .offcanvas-navbar .pull-right.navbar-nav > li {
    border: none;
  }
}
.offcanvas-navbar .pull-right.navbar-nav > li > a {
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .offcanvas-navbar .pull-right.navbar-nav > li > a.myedcc-mobile {
    display: none;
  }
}
.offcanvas-navbar .pull-right.navbar-nav > li > a:focus,
.offcanvas-navbar .pull-right.navbar-nav > li > a:hover {
  cursor: pointer;
}
.offcanvas-navbar .navbar-nav > li > a:focus,
.offcanvas-navbar .navbar-nav > li > a:hover {
  cursor: pointer;
}
.offcanvas-navbar .navbar-nav > li > a {
  padding: 14px 16px;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: 'Gotham', sans-serif;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .offcanvas-navbar .navbar-nav > li > a {
    padding: 14px 5px;
  }
}
@media (max-width: 767px) {
  .offcanvas-navbar .navbar-nav > li > a {
    padding: 15px;
    font-size: 1.25rem;
    text-transform: none!important;
    font-style: normal!important;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .offcanvas-navbar .navbar-nav li a.brand-color-primary {
    text-align: center;
    padding: 20px!important;
  }
}
.offcanvas-navbar .pull-right.navbar-nav > li > a {
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .offcanvas-navbar .pull-right.navbar-nav > li > a {
    padding: 14px 5px;
  }
}
@media (max-width: 767px) {
  .offcanvas-navbar .pull-right.navbar-nav > li > a {
    padding: 15px;
  }
}
.offcanvas-navbar .navbar-toggle {
  position: relative;
  float: left;
  padding: 15px 10px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
}
.offcanvas-navbar .navbar-toggle .icon-bar {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 0;
}
.offcanvas-navbar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}
.logo-navbar {
  z-index: 9995;
}
@media (max-width: 991px) {
  .logo-navbar .navbar-header {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .logo-navbar .navbar-header .navbar-brand {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .logo-navbar .navbar-header .navbar-brand img {
    width: 40%;
    margin: 0 auto;
    padding: 20px 0;
  }
}
.dropdown-navbar .navbar-collapse ul.navbar-nav li.nav-item form input.form-control {
  color: #004d72;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: background-color ease 0.3s;
  text-transform: none;
  height: auto;
  font-size: 1rem;
  padding: 1rem 2rem;
  line-height: 1.4;
  border: none;
  box-shadow: inset 0px 0px 1px #333;
}
.dropdown-navbar .navbar-collapse ul.navbar-nav li.nav-item form input.submit {
  font-size: 1rem;
  padding: 1rem 2rem;
  color: #004d72;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #9dd825;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  line-height: 1.4;
  transition: background-color ease 0.3s, color ease 0.3s;
  text-transform: uppercase;
}
.dropdown-navbar.second.top-nav-collapse .navbar-nav > li > a {
  padding: 10px 25px;
  font-size: 0.8rem;
}
@media (max-width: 1199px) {
  .dropdown-navbar.second.top-nav-collapse .navbar-nav > li > a {
    padding: 6px 12px;
  }
}
@media (max-width: 767px) {
  .dropdown-navbar.second.top-nav-collapse .navbar-nav > li > a {
    padding: 18px 12px 18px 12px;
  }
}
.dropdown-navbar.second .navbar-nav > li > a {
  padding: 18px 40px 18px 30px;
  -webkit-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
}
@media (max-width: 1199px) {
  .dropdown-navbar.second .navbar-nav > li > a {
    padding: 18px 12px 18px 12px;
  }
}
.dropdown-navbar.top-nav-collapse .navbar-nav > li > a:after {
  right: 6px;
}
.dropdown-navbar {
  z-index: 9991;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px 0px rgba(116, 115, 114, 0.5);
}
.dropdown-navbar .navbar-header h5 {
  display: none;
}
@media (max-width: 767px) {
  .dropdown-navbar .navbar-header h5 {
    display: block;
    position: absolute;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 24px 0;
    font-weight: 500;
    font-size: 1rem;
  }
}
.dropdown-navbar .navbar-header .navbar-toggle {
  position: relative;
  float: right;
  padding: 15px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: none;
}
.dropdown-navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #02496b;
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 0;
}
.dropdown-navbar .navbar-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 8px;
}
@media (max-width: 767px) {
  .dropdown-navbar .navbar-collapse {
    border-top: 1px solid #ccc;
  }
}
.dropdown-navbar .navbar-collapse li.xs-search {
  padding: 20px 0;
}
.dropdown-navbar .navbar-collapse li.xs-search .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}
.dropdown-navbar .navbar-collapse li.xs-search .input-group input {
  padding: 25px;
}
@media (max-width: 767px) {
  .dropdown-navbar .navbar-nav {
    margin: 0 0 20px 0;
    text-align: left;
  }
}
.dropdown-navbar .navbar-nav .singlecol-nav {
  width: 270px;
  padding: 20px 30px;
}
.dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled {
  margin: 0;
}
.dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li a {
  font-weight: 500;
  font-size: 1rem;
}
.dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li a:hover {
  color: #999999;
}
.dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li:last-child {
  border-bottom: none;
}
@media (max-width: 991px) {
  .dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li:last-child {
    border-bottom: 1px solid #ccc;
  }
}
.dropdown-navbar .navbar-nav .multicol-nav {
  width: 540px;
  padding: 20px 30px;
}
@media (max-width: 767px) {
  .dropdown-navbar .navbar-nav .multicol-nav {
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .dropdown-navbar .navbar-nav .multicol-nav {
    width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-navbar .navbar-nav .multicol-nav {
    width: 350px;
  }
}
.dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled {
  margin: 0;
}
.dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li a {
  font-weight: 500;
  font-size: 1rem;
}
.dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li a:hover {
  color: #999999;
}
.dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li:last-child {
  border-bottom: none;
}
@media (max-width: 991px) {
  .dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li:last-child {
    border-bottom: 1px solid #ccc;
  }
}
.dropdown-navbar .navbar-nav > li > a {
  font-weight: 600;
  font-family: 'Gotham', sans-serif;
  text-transform: uppercase;
}
.dropdown-navbar .navbar-nav > li > a.click:after {
  content: none;
}
.dropdown-navbar .navbar-nav > li > a:after {
  position: absolute;
  font-family: FontAwesome;
  content: '\f078';
  font-size: 12px;
  right: 16px;
}
@media (max-width: 1199px) {
  .dropdown-navbar .navbar-nav > li > a:after {
    content: none;
  }
}
.dropdown-navbar .navbar-nav > li:last-child > a:after {
  content: none;
}
.dropdown-navbar .dropdown-menu.search-menu {
  left: -426px;
}
.dropdown-navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
section.myedcc {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  z-index: 9998;
}
@media (max-width: 991px) {
  section.myedcc {
    width: 100%;
  }
}
.row-offcanvas {
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.row-offcanvas-right {
  right: 0;
  position: absolute;
  width: 50%;
  top: 0;
  z-index: 9999;
}
@media (max-width: 991px) {
  .row-offcanvas-right {
    width: 100%;
  }
}
.row-offcanvas-right .sidebar-offcanvas {
  right: -100%;
  top: 52px;
}
@media (max-width: 543px) {
  .row-offcanvas-right .sidebar-offcanvas {
    top: 75px;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .row-offcanvas-right .sidebar-offcanvas {
    top: 75px;
  }
}
.row-offcanvas-right.active {
  right: 50%;
}
@media (max-width: 991px) {
  .row-offcanvas-right.active {
    width: 100%;
    right: 92%;
  }
}
.sidebar-offcanvas {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #464646;
  box-shadow: inset 4px 0px 13px 0px rgba(0, 0, 0, 0.5);
  padding: 40px 50px;
}
@media (max-width: 543px) {
  .sidebar-offcanvas {
    width: 100%;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .sidebar-offcanvas {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-offcanvas {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-offcanvas {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .sidebar-offcanvas {
    width: 78%;
  }
}
@media (min-width: 1440px) {
  .sidebar-offcanvas {
    width: 68%;
  }
}
@media (max-width: 768px) {
  .sidebar-offcanvas {
    padding: 40px 20px 40px 30px;
  }
}
.sidebar-offcanvas ul.side-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-offcanvas ul.side-group li {
  padding: 10px;
}
.sidebar-offcanvas ul.side-group li a.side-group-item {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}
@media (max-width: 991px) {
  .sidebar-offcanvas ul.side-group li a.side-group-item {
    font-size: 1.25rem;
  }
}
.sidebar-offcanvas ul.side-group li a.side-group-item i {
  padding-right: 10px;
}
.sidebar-offcanvas ul.side-group li a.side-group-item:hover,
.sidebar-offcanvas ul.side-group li a.side-group-item:focus {
  color: #9dd825;
}
/*****************Button Styles************************/
@media (max-width: 767px) {
  .btn-full-width {
    display: block;
    width: 100%;
  }
}
.btn-full {
  width: 100%;
}
.article-btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: #ffffff !important;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #004d72 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
.article-btn:hover {
  color: #ffffff !important;
  background-color: #01415f !important;
}
.btn-primary {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #004d72;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #9dd825;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden;
}
.btn-primary:visited {
  color: #004d72;
  background-color: #9dd825;
}
.btn-primary:hover {
  color: #004d72;
  background-color: #77ad0a;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #004d72;
  background-color: #77ad0a;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #004d72;
  background-color: #77ad0a;
  background-image: none;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #004d72;
  background-color: #77ad0a;
}
.btn-secondary {
  font-size: 1rem;
  padding: 1.5rem 0.25rem;
  color: #ffffff !important;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  background-color: #004d72 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden;
}
.btn-secondary:visited {
  color: #ffffff !important;
  background-color: #004d72 !important;
}
.btn-secondary:hover {
  color: #ffffff !important;
  background-color: #01415f !important;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #01415f !important;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
  color: #ffffff !important;
  background-color: #01415f !important;
  background-image: none;
}
.btn-secondary:active:hover,
.btn-secondary:active:focus,
.btn-secondary:active.focus,
.btn-secondary.active:hover,
.btn-secondary.active:focus,
.btn-secondary.active.focus,
.open > .btn-secondary.dropdown-toggle:hover,
.open > .btn-secondary.dropdown-toggle:focus,
.open > .btn-secondary.dropdown-toggle.focus {
  color: #ffffff !important;
  background-color: #01415f !important;
}
.btn-accent {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #ffffff !important;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  font-style: italic;
  background-color: #6090a7 !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden;
}
.btn-accent:visited {
  color: #ffffff !important;
  background-color: #6090a7 !important;
}
.btn-accent:hover {
  color: #ffffff !important;
  background-color: #004d72 !important;
}
.btn-accent:focus,
.btn-accent.focus {
  color: #ffffff !important;
  background-color: #004d72 !important;
}
.btn-accent:active,
.btn-accent.active,
.open > .btn-accent.dropdown-toggle {
  color: #ffffff !important;
  background-color: #004d72 !important;
  background-image: none;
}
.btn-accent:active:hover,
.btn-accent:active:focus,
.btn-accent:active.focus,
.btn-accent.active:hover,
.btn-accent.active:focus,
.btn-accent.active.focus,
.open > .btn-accent.dropdown-toggle:hover,
.open > .btn-accent.dropdown-toggle:focus,
.open > .btn-accent.dropdown-toggle.focus {
  color: #ffffff !important;
  background-color: #004d72 !important;
}
.btn-tertiary {
  font-size: 1rem;
  padding: 1.75rem 2rem;
  width: 100%;
  color: #252525;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #dddddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden;
}
.btn-tertiary:visited {
  color: #252525;
  background-color: #dddddd;
}
.btn-tertiary:hover {
  color: #252525;
  background-color: #bbbbbb;
}
.btn-tertiary:focus,
.btn-tertiary.focus {
  color: #252525;
  background-color: #bbbbbb;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open > .btn-tertiary.dropdown-toggle {
  color: #252525;
  background-color: #dc8200;
  background-image: none;
}
.btn-tertiary:active:hover,
.btn-tertiary:active:focus,
.btn-tertiary:active.focus,
.btn-tertiary.active:hover,
.btn-tertiary.active:focus,
.btn-tertiary.active.focus,
.open > .btn-tertiary.dropdown-toggle:hover,
.open > .btn-tertiary.dropdown-toggle:focus,
.open > .btn-tertiary.dropdown-toggle.focus {
  color: #252525;
  background-color: #bbbbbb;
}
.btn-trans:visited {
  color: #fff;
  background-color: transparent;
}
.btn-trans {
  font-size: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;  
  -webkit-border-radius: 3px;
  border: 2px solid #fff;
  transition: background-color ease 0.3s, border-color ease 0.3s;
}
.btn-trans:hover {
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-trans:focus,
.btn-trans.focus {
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-trans:active,
.btn-trans.active,
.open > .btn-trans.dropdown-toggle {
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
}
.btn-trans:active:hover,
.btn-trans:active:focus,
.btn-trans:active.focus,
.btn-trans.active:hover,
.btn-trans.active:focus,
.btn-trans.active.focus,
.open > .btn-trans.dropdown-toggle:hover,
.open > .btn-trans.dropdown-toggle:focus,
.open > .btn-trans.dropdown-toggle.focus {
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .btn-block-mobile-only {
    display: block;
    width: 100%;
  }
}
/*****************EO Button Styles************************/
section.image-hero .stats-container {
  position: relative;
  z-index: 999;
}
section.image-hero .stats-container .stats-item h2 {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
  line-height: 1;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  section.image-hero .stats-container .stats-item h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1199px) {
  section.image-hero .stats-container .stats-item {
    padding: 20px 0;
  }
}
section.image-hero .stats-container .stats-item:after {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  content: '';
  position: absolute;
  right: 0;
  top: 25%;
  height: 25%;
}
@media (max-width: 1199px) {
  section.image-hero .stats-container .stats-item:after {
    content: none;
  }
}
section.image-hero .stats-container .stats-item:last-child:after {
  content: none;
}
@media (max-width: 1199px) {
  section.image-grid .image-container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  section.image-grid .grid-row {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.image-grid .grid-row {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.image-grid .grid-row {
    padding: 0;
  }
}
@media (max-width: 767px) {
  section.image-grid .grid-row {
    padding: 0;
  }
}
section.image-grid .grid-row .grid-item {
  height: 266px;
}
@media (min-width: 992px) {
  section.image-grid .grid-row .grid-item {
    padding: 7.5px!important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section.image-grid .grid-row .grid-item {
    padding: 7.5px!important;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  section.image-grid .grid-row .grid-item {
    height: 400px;
  }
}
@media (max-width: 767px) {
  section.image-grid .grid-row .grid-item {
    padding: 7.5px!important;
  }
}
section.image-grid .grid-row .grid-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
section.image-grid .grid-row .grid-item .text-overlay {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  text-align: center;
  right: 0;
  top: 0;
  padding: 40px 20px;
}
@media (min-width: 544px) and (max-width: 767px) {
  section.image-grid .grid-row .grid-item .text-overlay {
    padding: 100px 20px;
  }
}
section.image-grid .grid-row .grid-item .style-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: relative;
}
section.image-grid .grid-row .grid-item .style-overlay:before {
  content: '';
  background-color: rgba(16, 88, 124, 0.85);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: background-color ease 0.3s;
}
section.image-grid .grid-row .grid-item .text-overlay:hover + .style-overlay:before {
  background-color: rgba(16, 88, 124, 0.95);
}
.students-page section.section-feature .feature-container:before {
  background: url('/images/EDCC_TestimonialImage_StudentSite.png') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: auto;
  width: 40%;
  z-index: 10;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .students-page section.section-feature .feature-container:before {
    width: 36%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .students-page section.section-feature .feature-container:before {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .students-page section.section-feature .feature-container:before {
    background: none;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.employees-page section.section-feature .feature-container:before {
  background: url('/images/EDCC_Main_TestimonialImage.jpg') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: auto;
  width: 40%;
  z-index: 10;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .employees-page section.section-feature .feature-container:before {
    width: 36%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .employees-page section.section-feature .feature-container:before {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .employees-page section.section-feature .feature-container:before {
    background: none;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.homepage section.section-feature .feature-container:before {
  background: url('/images/EDCC_Main_TestimonialImage.jpg') no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  height: 100%;
  left: 0;
  right: auto;
  width: 40%;
  z-index: 10;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .homepage section.section-feature .feature-container:before {
    width: 36%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homepage section.section-feature .feature-container:before {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .homepage section.section-feature .feature-container:before {
    background: none;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
section.section-feature {
  margin: 0;
  position: relative;
}
section.section-feature .feature-container {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #00486a;
}
section.section-feature .feature-container .culture-image {
  height: 350px;
  width: 100%;
}
section.section-feature .feature-container .culture-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.section-feature .feature-container .culture-call-right {
  padding: 16% 10% 24% 10%;
  position: relative;
  z-index: 99;
}
@media (max-width: 1199px) {
  section.section-feature .feature-container .culture-call-right {
    padding: 70px 30px;
  }
}
section.section-feature .feature-container .culture-call-right h3 {
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  section.section-feature .feature-container .culture-call-right h3 {
    font-size: 2.5rem;
  }
}
section.section-feature .feature-container .culture-call-right p {
  margin-top: 1rem;
}
section.section-feature .feature-container .culture-call-right p em {
  color: #9dd825!important;
  display: block;
  margin-top: 1rem;
}
section.section-feature .feature-container .culture-call-right p.quote {
  color: #fff!important;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 400;
}
section.news-events article.news {
  margin-bottom: 30px;
}
section.news-events article.news .article-image {
  width: 100%;
  height: 265px;
  position: relative;
}
section.news-events article.news .article-image img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
section.news-events article.news .article-content a.readmore {
  font-weight: 600;
  font-style: italic;
  color: #252525;
  font-size: 0.85rem;
}
section.news-events article.events {
  height: 464px;
  overflow-y: scroll;
  overflow-x: hidden;
}
section.news-events article.events ul.event-list-group li.event-item {
  margin-bottom: 21px;
}
@media (max-width: 543px) {
  section.news-events article.events ul.event-list-group li.event-item .xxs-full {
    width: 100%;
    margin-bottom: 15px;
  }
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-date {
  background-color: #004d72;
  text-align: center;
  padding: 15px 0;
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-date h5 {
  font-weight: 500;
  margin: 0.25rem 0 0 0;
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-date h4 {
  font-weight: 700;
  margin: 0.25rem 0;
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-content h5 {
  font-weight: 700;
  margin: 0.25rem 0;
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-content ul.group-details li.details-item {
  font-weight: normal;
  font-family: 'Gotham-Book', sans-serif;
}
section.news-events article.events ul.event-list-group li.event-item .xxs-full .event-content ul.group-details li.details-item .fa {
  width: 20px;
}
section.news-events article.dates {
  height: 464px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 30px;
}
section.news-events article.dates ul.event-list-group li.event-item {
  margin-bottom: 21px;
}
@media (max-width: 543px) {
  section.news-events article.dates ul.event-list-group li.event-item .xxs-full {
    width: 100%;
    margin-bottom: 15px;
  }
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-date {
  background-color: #6090a7 !important;
  text-align: center;
  padding: 15px 0;
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-date h5 {
  font-weight: 500;
  margin: 0.25rem 0 0 0;
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-date h4 {
  font-weight: 700;
  margin: 0.25rem 0;
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-content h5 {
  font-weight: 700;
  margin: 0.25rem 0;
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-content ul.group-details li.details-item {
  font-weight: normal;
  font-family: 'Gotham-Book', sans-serif;
}
section.news-events article.dates ul.event-list-group li.event-item .xxs-full .event-content ul.group-details li.details-item .fa {
  width: 20px;
}
article.events::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ddd;
}
article.events::-webkit-scrollbar {
  width: 14px;
  background-color: #ddd;
}
article.events::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #004d72;
}
article.dates::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ddd;
}
article.dates::-webkit-scrollbar {
  width: 14px;
  background-color: #ddd;
}
article.dates::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #004d72;
}
/*****************Footer Styles************************/
.fa-circle {
  color: #023b56;
}
.fa-inverse {
  color: #004d72!important;
}
ul.social-inline {
  float: right;
}
@media (max-width: 991px) {
  ul.social-inline {
    float: none;
    margin: 40px auto 0 auto;
    display: table;
  }
}
ul.social-inline li.list-inline-item:not(:last-child) {
  margin-right: 12px;
}
ul.social-inline li.list-inline-item {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 56px;
  vertical-align: middle;
}
ul.social-inline li.list-inline-item .fa-stack {
  line-height: 50px;
}
ul.social-inline li.list-inline-item .fa-stack-2x {
  font-size: 50px;
}
ul.social-inline li.list-inline-item .fa-stack-1x {
  font-size: 28px;
}
ul.social-inline li.list-inline-item:hover .fa-circle {
  color: #002333;
}
footer.page-footer:before {
  z-index: 999;
}
@media (min-width: 992px) and (max-width: 1439px) {
  footer.page-footer:before {
    bottom: 442px;
    left: 0;
    z-index: -1;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.75, 0.75);
  }
}
@media (max-width: 991px) {
  footer.page-footer:before {
    content: none;
  }
}
footer.page-footer {
  color: #fff;
  position: relative;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}
footer.page-footer .footer-color {
  background-color: #004d72;
  padding-left: 0;
  padding-right: 0;
}
footer.page-footer .footer-color .footer-padding {
  padding: 80px 30px;
}
@media (max-width: 767px) {
  footer.page-footer .footer-color .footer-padding {
    padding: 40px 30px;
  }
}
footer.page-footer .footer-color .footer-padding .vertical-rule {
  padding: 0 30px;
}
footer.page-footer .footer-color .footer-padding .vertical-rule .vr {
  width: 1px;
  height: 220px;
  background-color: #fff;
}
footer.page-footer .footer-color .footer-padding .language-button .btn {
  width: auto;
}
@media (max-width: 991px) {
  footer.page-footer .footer-color .footer-padding .language-button .btn {
    width: 100%;
  }
}
footer.page-footer .footer-color .footer-padding .block-button .btn {
  width: 100%;
}
@media (max-width: 991px) {
  footer.page-footer .footer-color .footer-padding .block-button .btn {
    margin-bottom: 40px;
  }
}
footer.page-footer .footer-color .footer-padding ul.list-group {
  margin-bottom: 40px;
}
footer.page-footer .footer-color .footer-padding ul.list-group li.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px 10px 0;
  margin-bottom: 0px;
  background-color: transparent;
  border: none;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  line-height: 50px;
  font-weight: 300;
  background-color: #023b56;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  text-align: right;
}
@media (max-width: 767px) {
  footer.page-footer .footer-copyright {
    font-size: 1.2rem;
  }
}
footer.page-footer .footer-copyright .copyright {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
footer.page-footer .footer-copyright .copyright a {
  color: #fff;
}
@media (max-width: 991px) {
  footer.page-footer .footer-copyright .copyright {
    text-align: center;
    line-height: 24px;
    padding: 12px 0;
  }
}
footer.page-footer .footer-copyright .brand-container .brand-logo > img {
  display: block;
  max-height: 48px;
}
@media (max-width: 991px) {
  footer.page-footer .footer-copyright .brand-container .brand-logo > img {
    margin: 20px auto;
  }
}
/*****************EO Footer Styles************************/
header.header-main .offcanvas-navbar {
  border-top: 4px solid #9dd825 !important;
  background-color: #02496b !important;
}
header.header-main .offcanvas-navbar ul.navbar-nav li > a {
  color: #ffffff !important;
  transition: all ease 0.3s;
}
header.header-main .offcanvas-navbar ul.navbar-nav li > a.brand-item-em {
  color: #004d72 !important;
  background-color: #9dd825 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-main .offcanvas-navbar ul.navbar-nav li > a > .fa {
  color: #ffffff !important;
}
header.header-main .offcanvas-navbar ul.navbar-nav li.active a {
  color: #9dd825 !important;
}
header.header-main .offcanvas-navbar ul.navbar-nav li.active a .fa {
  color: #9dd825 !important;
}
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li {
  border-left: 1px solid #01415f !important;
}
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li > a > .fa {
  color: #9dd825 !important;
}
header.header-main .offcanvas-navbar .pull-left.navbar-nav > li > a:focus,
header.header-main .offcanvas-navbar .pull-left.navbar-nav > li > a:hover {
  color: #ffffff !important;
  background-color: #262626 !important;
}
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li > a:focus,
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li > a:hover {
  color: #ffffff !important;
  background-color: #262626 !important;
}
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:focus,
header.header-main .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:hover {
  color: #ffffff !important;
  background-color: #77ad0a !important;
}
header.header-main .offcanvas-navbar .edcc-mobile {
  color: #ffffff !important;
}
header.header-main .offcanvas-navbar .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
header.header-main .logo-navbar {
  background-color: #004d72 !important;
}
header.header-main .dropdown-navbar {
  background-color: #ffffff !important;
}
header.header-main .dropdown-navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #004d72 !important;
}
header.header-main .dropdown-navbar .navbar-header h5 {
  color: #004d72 !important;
}
header.header-main .dropdown-navbar .navbar-nav li a {
  color: #004d72 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-main .dropdown-navbar .navbar-nav li a:focus,
header.header-main .dropdown-navbar .navbar-nav li a:hover {
  color: #9dd825 !important;
  background-color: #f4f4f4 !important;
}
header.header-main .dropdown-navbar .navbar-nav li.open a,
header.header-main .dropdown-navbar .navbar-nav li.open a:focus,
header.header-main .dropdown-navbar .navbar-nav li.open a:hover {
  color: #9dd825 !important;
  background-color: #f4f4f4 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-main .dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
header.header-main .dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
header.header-employee .offcanvas-navbar {
  border-top: 4px solid #6090a7 !important;
  background-color: #f4f4f4 !important;
}
header.header-employee .offcanvas-navbar ul.navbar-nav li > a {
  color: #004d72 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-employee .offcanvas-navbar ul.navbar-nav li > a.brand-item-em {
  color: #ffffff !important;
  background-color: #6090a7 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-employee .offcanvas-navbar ul.navbar-nav li > a > .fa {
  color: #004d72 !important;
}
header.header-employee .offcanvas-navbar ul.navbar-nav li.active a {
  color: #6090a7 !important;
}
header.header-employee .offcanvas-navbar ul.navbar-nav li.active a .fa {
  color: #6090a7 !important;
}
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li {
  border-left: 1px solid #f4f4f4 !important;
}
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li > a > .fa {
  color: #004d72 !important;
}
header.header-employee .offcanvas-navbar .pull-left.navbar-nav > li > a:focus,
header.header-employee .offcanvas-navbar .pull-left.navbar-nav > li > a:hover {
  color: #004d72 !important;
  background-color: #cccccc !important;
}
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li > a:focus,
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li > a:hover {
  color: #004d72 !important;
  background-color: #cccccc !important;
}
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:focus,
header.header-employee .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:hover {
  color: #ffffff !important;
  background-color: #004d72 !important;
}
header.header-employee .offcanvas-navbar .edcc-mobile {
  color: #004d72 !important;
}
header.header-employee .offcanvas-navbar .navbar-toggle .icon-bar {
  background-color: #707070 !important;
}
header.header-employee .logo-navbar {
  background-color: #ffffff !important;
}
header.header-employee .dropdown-navbar {
  background-color: #004d72 !important;
}
header.header-employee .dropdown-navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
header.header-employee .dropdown-navbar .navbar-header h5 {
  color: #ffffff !important;
}
header.header-employee .dropdown-navbar .navbar-nav li a {
  color: #ffffff !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-employee .dropdown-navbar .navbar-nav li a:focus,
header.header-employee .dropdown-navbar .navbar-nav li a:hover {
  color: #ffffff !important;
  background-color: #01415f !important;
}
header.header-employee .dropdown-navbar .navbar-nav li.open a,
header.header-employee .dropdown-navbar .navbar-nav li.open a:focus,
header.header-employee .dropdown-navbar .navbar-nav li.open a:hover {
  color: #ffffff !important;
  background-color: #02496b !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-employee .dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
header.header-employee .dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
header.header-student .offcanvas-navbar {
  border-top: 4px solid #9dd825 !important;
  background-color: #02496b !important;
}
header.header-student .offcanvas-navbar ul.navbar-nav li > a {
  color: #ffffff !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-student .offcanvas-navbar ul.navbar-nav li > a.brand-item-em {
  color: #004d72 !important;
  background-color: #9dd825 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-student .offcanvas-navbar ul.navbar-nav li > a > .fa {
  color: #ffffff !important;
}
header.header-student .offcanvas-navbar ul.navbar-nav li.active a {
  color: #9dd825 !important;
}
header.header-student .offcanvas-navbar ul.navbar-nav li.active a .fa {
  color: #9dd825 !important;
}
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li {
  border-left: 1px solid #01415f !important;
}
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li > a > .fa {
  color: #9dd825 !important;
}
header.header-student .offcanvas-navbar .pull-left.navbar-nav > li > a:focus,
header.header-student .offcanvas-navbar .pull-left.navbar-nav > li > a:hover {
  color: #ffffff !important;
  background-color: #262626 !important;
}
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li > a:focus,
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li > a:hover {
  color: #ffffff !important;
  background-color: #262626 !important;
}
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:focus,
header.header-student .offcanvas-navbar .pull-right.navbar-nav > li > a.brand-item-em:hover {
  color: #ffffff !important;
  background-color: #77ad0a !important;
}
header.header-student .offcanvas-navbar .edcc-mobile {
  color: #ffffff !important;
}
header.header-student .offcanvas-navbar .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
header.header-student .logo-navbar {
  background-color: #f4f4f4 !important;
}
header.header-student .dropdown-navbar {
  background-color: #ffffff !important;
}
header.header-student .dropdown-navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #004d72 !important;
}
header.header-student .dropdown-navbar .navbar-header h5 {
  color: #004d72 !important;
}
header.header-student .dropdown-navbar .navbar-nav li a {
  color: #004d72 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-student .dropdown-navbar .navbar-nav li a:focus,
header.header-student .dropdown-navbar .navbar-nav li a:hover {
  color: #9dd825 !important;
  background-color: #f4f4f4 !important;
}
header.header-student .dropdown-navbar .navbar-nav li.open a,
header.header-student .dropdown-navbar .navbar-nav li.open a:focus,
header.header-student .dropdown-navbar .navbar-nav li.open a:hover {
  color: #9dd825 !important;
  background-color: #f4f4f4 !important;
  transition: background-color ease 0.3s, color ease 0.3s;
}
header.header-student .dropdown-navbar .navbar-nav .multicol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
header.header-student .dropdown-navbar .navbar-nav .singlecol-nav ul.list-unstyled li a {
  color: #707070 !important;
  background-color: transparent !important;
}
section.students-hero .jumbotron:before {
  box-shadow: inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);
}
section.students-hero .jumbotron {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 730px;
  border-radius: 0;
  margin-bottom: 0;
  background-position: bottom;
}
section.students-hero .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  section.students-hero .jumbotron {
    padding: 12rem 2rem 4rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.students-hero .jumbotron {
    position: relative;
    padding: 6rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.students-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 700px;
  }
}
@media (max-width: 543px) {
  section.students-hero .jumbotron {
    padding: 4rem 2rem;
    position: relative;
    height: 840px;
    width: 100%;
  }
}
section.students-hero .jumbotron .stu-overlay-content {
  position: relative;
  z-index: 999;
}
section.students-hero .jumbotron .stu-overlay-content .student-quicklinks {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  display: table;
  padding: 50px;
}
@media (max-width: 543px) {
  section.students-hero .jumbotron .stu-overlay-content .student-quicklinks {
    padding: 20px 0;
  }
}
section.students-hero .jumbotron .stu-overlay-content .student-quicklinks .btn {
  width: 100%;
}
@media (max-width: 991px) {
  section.students-hero .jumbotron .stu-overlay-content .student-quicklinks .btn {
    margin: 10px 0;
  }
}
@media (max-width: 543px) {
  section.students-hero .jumbotron .stu-overlay-content .student-quicklinks .btn {
    padding: 1.5rem 0;
  }
}
section.students-hero-internal .jumbotron:before {
  box-shadow: inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);
}
section.students-hero-internal .jumbotron {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 500px;
  border-radius: 0;
  margin-bottom: 0;
  background-position: bottom;
}
section.students-hero-internal .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  section.students-hero-internal .jumbotron {
    padding: 8rem 2rem 4rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.students-hero-internal .jumbotron {
    position: relative;
    padding: 6rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.students-hero-internal .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 500px;
  }
}
@media (max-width: 543px) {
  section.students-hero-internal .jumbotron {
    padding: 4rem 2rem;
    position: relative;
    height: 600px;
    width: 100%;
  }
}
section.students-hero-internal .jumbotron .stu-overlay-content {
  position: relative;
  z-index: 999;
}
section.employee-hero .jumbotron:before {
  box-shadow: inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);
}
section.employee-hero .jumbotron {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 500px;
  border-radius: 0;
  margin-bottom: 0;
  background-position: bottom;
}
section.employee-hero .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
@media (min-width: 1200px) {
  section.employee-hero .jumbotron {
    padding: 8rem 2rem 4rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.employee-hero .jumbotron {
    position: relative;
    padding: 6rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.employee-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 500px;
  }
}
@media (max-width: 543px) {
  section.employee-hero .jumbotron {
    padding: 4rem 2rem;
    position: relative;
    height: 600px;
    width: 100%;
  }
}
section.employee-hero .jumbotron .stu-overlay-content {
  position: relative;
  z-index: 999;
}
section.community-board .post-loop:last-child {
  border-bottom: none;
}
section.community-board .post-loop {
  padding: 25px 0;
  position: relative;
  border-bottom: 1px solid #ccc;
}
section.community-board .post-loop .post-item .img-wrap {
  width: 100%;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  section.community-board .post-loop .post-item .img-wrap {
    position: relative;
    height: 200px;
    margin-bottom: 30px;
  }
}
section.community-board .post-loop .post-item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
@media (max-width: 991px) {
  section.community-board .post-loop .post-item .article-content .article-btn {
    width: 100%;
    padding: 1.5rem 0;
    text-align: center;
  }
}
section.community-board .post-loop .post-item .post-date {
  background-color: #6090a7 !important;
  position: relative;
  height: 160px;
  width: 100%;
  padding: 36% 0;
  text-align: center;
}
@media (max-width: 991px) {
  section.community-board .post-loop .post-item .post-date {
    padding: 23% 10%;
    height: 200px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  section.community-board .post-loop .post-item .post-date {
    padding: 20px;
    margin-bottom: 15px;
    display: block;
    height: auto;
  }
}
section.community-board .post-loop .post-item .post-date h5 {
  margin: 0;
}
section.open-community-board {
  margin-left: 15px;
  margin-right: 15px;
  /* Section 13 - Open Community Board*/
}
section.open-community-board .author i {
  margin-right: 4%;
}
section.open-community-board .comment .fa-twitter {
  padding-right: 5px;
}
section.open-community-board .posthero {
  position: relative;
  width: 100%;
  height: 370px;
}
section.open-community-board .posthero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
section.open-community-board .posthero .post-date {
  background-color: #6090a7 !important;
  position: absolute;
  padding: 22px 30px;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 999;
}
section.open-community-board .posthero .post-date h5 {
  margin: 0;
}
section.open-community-board .author {
  padding: 10%;
}
@media (max-width: 767px) {
  section.open-community-board .author {
    padding: 3%;
  }
}
section.open-community-board .author a.comments-toggle {
  font-family: 'lato', sans-serif;
  font-size: 1rem;
  color: #252525;
  text-decoration: none;
}
section.open-community-board .author a.comments-toggle .fa-stack {
  font-size: 0.8rem;
  margin-right: 10px;
  position: relative;
  float: left;
  color: #000;
  opacity: 1;
  text-shadow: none;
}
section.open-community-board .author a.comments-toggle[aria-expanded="false"] .fa-stack.open {
  display: none;
}
section.open-community-board .author a.comments-toggle[aria-expanded="false"] .fa-stack.close {
  display: block;
}
section.open-community-board .author a.comments-toggle[aria-expanded="true"] .fa-stack.open {
  display: block;
}
section.open-community-board .author a.comments-toggle[aria-expanded="true"] .fa-stack.close {
  display: none;
}
section.open-community-board .author .well {
  min-height: 20px;
  padding: 30px;
  margin: 30px 0;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
section.open-community-board .author .collapsing {
  float: left;
}
section.open-community-board .comment {
  padding: 10%;
}
@media (max-width: 767px) {
  section.open-community-board .comment {
    padding: 3%;
  }
}
@media (max-width: 767px) {
  section.open-community-board .comment form .form-group .pull-right {
    float: none!important;
    display: block;
    margin-left: 0;
    padding: 15px 0;
  }
}
section.open-community-board .comment form .form-group .pull-right a {
  color: #004d72 !important;
}
section.open-community-board .comment form .form-group input.form-control {
  display: block;
  width: 100%;
  height: 55px;
  padding-left: 24px;
  margin-bottom: 15px;
  font-size: 1rem;
}
section.open-community-board .comment form .form-group textarea.form-control {
  display: block;
  width: 100%;
  padding-left: 24px;
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 1rem;
}
.one-third.col-lg-4 section.sidebar .one-fourth .sidebar-text {
  padding: 15% 25px 5% 25px;
}
section.sidebar ul {
  padding-left: 0;
  list-style: none;
}
section.sidebar ul li a {
  text-transform: capitalize;
}
section.sidebar form.search-form .search-input-group .input-group-addon {
  background: white !important;
  padding: 16px 12px;
  border-radius: 0;
}
section.sidebar form.search-form .search-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  padding: 16px 12px;
  height: auto;
  font-size: 1rem;
}
section.sidebar form.search-form .search-input-group button {
  border: 0;
  background: transparent;
}
section.sidebar .one-fourth {
  position: relative;
  display: block;
  float: left;
  background: #ffffff;
  overflow: hidden;
  width: 100%;
  margin: 30px 0;
  height: 400px;
}
section.sidebar .one-fourth .sidebar-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 72, 106, 0.93);
  padding: 15% 10px 5% 10px;
  text-align: center;
}
@media (max-width: 1199px) {
  section.sidebar .one-fourth .sidebar-text h4 {
    font-size: 1.25rem;
  }
}
section.sidebar .one-fourth .sidebar-text .fa {
  font-size: 2rem;
}
section.sidebar .one-fourth .sidebar-text .btn {
  padding: 1rem 3rem;
}
section.sidebar .one-fourth .sidebar-underlay img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  margin: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
section.sidebar .post-box {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 9px 0px rgba(57, 58, 58, 0.1);
  margin-bottom: 30px;
}
section.sidebar .post-box ul.list-group li.list-group-item {
  position: relative;
  display: block;
  padding: 9px 0;
  margin-bottom: 0;
  background-color: #fff;
  border: none;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  line-height: 1;
}
section.sidebar .post-box ul.list-group li.list-group-item a {
  color: #333;
}
section.sidebar .post-box ul.list-group li.list-group-item a.email {
  text-decoration: underline;
  color: #004d72 !important;
}
section.sidebar .post-box ul.list-group li.list-group-item.subtitle {
  font-weight: 900;
  margin-top: 15px;
}
section.sidebar .post-box ul.list-group li.list-group-item.subtitle:first-child {
  margin-top: 0!important;
}
section.sidebar .social-box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 9px 0px rgba(57, 58, 58, 0.1);
  margin-bottom: 30px;
}
section.sidebar .social-box .social-overflow {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}
section.sidebar .social-box .social-overflow .fb-post.fb_iframe_widget {
  margin-bottom: 30px;
  width: 100%;
}
section.sidebar .social-box .social-overflow .fb-post.fb_iframe_widget span {
  width: 100%!important;
}
section.sidebar .social-box .social-overflow .fb-post.fb_iframe_widget span iframe {
  padding-right: 15px;
  width: 100%!important;
}
@media (min-width: 992px) {
  section.sidebar .social-box .social-overflow .fb-post.fb_iframe_widget span iframe {
    max-width: 314px;
  }
}
section.sidebar .social-box .social-overflow::-webkit-scrollbar {
  width: 16px;
}
section.sidebar .social-box .social-overflow::-webkit-scrollbar-track {
  background-color: #f4f4f4 !important;
}
section.sidebar .social-box .social-overflow::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
section.sidebar .social-box.like {
  display: table;
  width: 100%;
}
section.sidebar .social-box.like .image-box-25 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
}
section.sidebar .social-box.like .button-box-75 {
  width: 75%;
  float: left;
  position: relative;
  min-height: 1px;
}
section.sidebar .social-box.like .button-box-75 h5 {
  margin-top: 0;
}
section.breadcrumbs a.nav-link:after {
  content: ' >';
  padding: 0 10px;
}
section.breadcrumbs a.nav-link:last-child:after {
  content: none;
  padding: 0;
}
section.breadcrumbs nav a {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: 1.25;
  text-align: left;
  color: #004d72 !important;
  text-transform: none;
  transition: color ease 0.3s;
}
@media (max-width: 767px) {
  section.breadcrumbs nav a {
    font-size: 1.125rem;
  }
}
section.breadcrumbs nav a:hover {
  color: #707070 !important;
}
@media (max-width: 543px) {
  .two-third {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
@media (max-width: 543px) {
  .one-third {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
section.article-image img {
  width: 100%;
}
section.accordion .panel-group .panel {
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 5px;
}
section.accordion .panel-group .panel a.accordion-link.collapsed .fa.fa-minus {
  display: none;
}
section.accordion .panel-group .panel a.accordion-link .panel-heading {
  border: 0;
  padding: 20px;
  background-color: #004d72 !important;
  border-radius: 0;
}
section.accordion .panel-group .panel a.accordion-link .panel-heading h4 .fa {
  float: right;
  padding-right: 10px;
}
section.accordion .panel-group .panel a.accordion-link[aria-expanded="false"] .panel-heading h4 .fa.fa-plus {
  display: block;
}
section.accordion .panel-group .panel a.accordion-link[aria-expanded="false"] .panel-heading h4 .fa.fa-minus {
  display: none;
}
section.accordion .panel-group .panel a.accordion-link[aria-expanded="true"] .panel-heading h4 .fa.fa-plus {
  display: none;
}
section.accordion .panel-group .panel a.accordion-link[aria-expanded="true"] .panel-heading h4 .fa.fa-minus {
  display: block;
}
section.accordion .panel-group .panel .panel-collapse .panel-body {
  padding: 40px 30px;
}
section.accordion .panel-group .panel .panel-collapse .panel-body ul {
  padding: 0 0 0 25px;
  margin: 0;
}
section.accordion .panel-group .panel .panel-collapse .panel-body ul li {
  padding: 0 0 12px 0;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
section.header-hero .jumbotron {
  height: 300px;
}
@media (max-width: 1199px) {
  section.header-hero .jumbotron {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  section.header-hero .jumbotron {
    padding: 5rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.header-hero .jumbotron {
    position: relative;
    padding: 5rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.header-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 100%;
  }
}
@media (max-width: 543px) {
  section.header-hero .jumbotron {
    padding: 1rem 1rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
section.header-hero .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
section.header-hero .stats-container {
  position: relative;
  z-index: 999;
}
section.login-hero {
  border-top: 5px solid #9dd825;
}
section.login-hero .jumbotron {
  height: 850px;
}
@media (max-width: 1199px) {
  section.login-hero .jumbotron {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  section.login-hero .jumbotron {
    padding: 5rem 2rem;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  section.login-hero .jumbotron {
    position: relative;
    padding: 5rem 2rem;
  }
}
@media (min-width: 544px) and (max-width: 991px) {
  section.login-hero .jumbotron {
    padding: 2rem 2rem;
    position: relative;
    height: 100%;
  }
}
@media (max-width: 543px) {
  section.login-hero .jumbotron {
    padding: 2rem 0.5rem;
    position: relative;
    height: 100%;
    width: 100%;
  }
}
section.login-hero .jumbotron img.simple-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}
section.login-hero .jumbotron .landing-left {
  padding: 16% 0;
}
section.login-hero .jumbotron .landing-left h1 {
  font-size: 4rem;
  letter-spacing: 0rem;
  line-height: 0.9;
  font-weight: 900;
}
@media (min-width: 767px) and (max-width: 991px) {
  section.login-hero .jumbotron .landing-left h1 {
    font-size: 3rem;
  }
}
@media (max-width: 543px) {
  section.login-hero .jumbotron .landing-left h1 {
    padding-top: 1rem;
    font-size: 2rem;
  }
}
section.login-hero .jumbotron .landing-right {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16%;
}
@media (max-width: 543px) {
  section.login-hero .jumbotron .landing-right {
    padding: 5%;
  }
}
section.login-hero .jumbotron .landing-right p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
section.login-hero .jumbotron .landing-right form.student-login-form .form-group select.form-control.login {
  text-align: center;
  text-align-last: center;
}
section.login-hero .jumbotron .landing-right form.student-login-form .form-group .form-control.login {
  display: block;
  width: 100%;
  height: 60px;
  padding: 6px 10px;
  font-size: 1rem;
  line-height: 1.42857143;
  color: #707070;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-family: 'lato', sans-serif;
  text-align: center;
}
@media (max-width: 543px) {
  section.login-hero .jumbotron .landing-right form.student-login-form .form-group .form-control.login {
    font-size: 0.9rem;
  }
}
section.login-hero .jumbotron .landing-right form.student-login-form .btn {
  width: 100%;
  padding: 1.2rem;
}
section.login-hero .stats-container {
  position: relative;
  z-index: 999;
  text-align: left;
}
section.card-features .article-content .image-container {
  width: 100%;
  height: 175px;
  position: relative;
}
section.card-features .article-content .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
section.card-features .article-content .sub-link {
  color: #6090a7;
  text-decoration: underline;
  font-size: .9em;
  display: block;
  line-height: 1.2;
}
section.card-features .article-content .sub-link:hover {
  color: #004d72;
}
/*  Section 10 - Class Search Results  */
section.class-search .results-course .title {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
section.class-search .results-course .brand-bg-secondary {
  min-height: 50px;
  padding: 1% 2%;
}
section.class-search .results-course .results-class .num {
  background-color: #6090a7;
  width: 100%;
  padding: 36% 0;
  text-align: center;
}
@media (max-width: 767px) {
  section.class-search .results-course .results-class .num {
    padding: 4%;
  }
}
@media (max-width: 767px) {
  section.class-search .results-course .results-class .num h5 {
    font-size: 1.5rem;
  }
}
section.class-search .results-course .results-class .num .hr-sm {
  margin-top: 0;
  border-top: 3px solid #fff;
}
@media (max-width: 767px) {
  section.class-search .results-course .results-class .details {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
section.class-search .results-course .results-class .details .list-search span {
  text-decoration: underline;
}
section.class-search .results-course .results-class .details .list-search .read-more {
  text-decoration: underline;
  color: #004d72 !important;
  font-style: italic;
  font-weight: 700;
}
section.class-search .results-course .results-class .details .list-search em {
  font-style: normal;
  position: relative;
}
section.class-search .results-course .results-class .details .list-search em.open:after {
  content: '';
  position: absolute;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: #9dd825;
  right: -21px;
  top: 5px;
}
section.class-search .results-course .results-class .details .list-search em.closed:after {
  content: '';
  position: absolute;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  background-color: red;
  right: -21px;
  top: 5px;
}
section.class-search .results-course hr.hr-ltdark:last-child {
  visibility: hidden;
}
section.article-image img {
  width: 100%;
}
/* Section 18 - Site Search Results*/
section.site-search button {
  display: inline-block;
  border-radius: 2px;
  background-color: #004d72;
  color: #ffffff;
  height: 60px;
  width: 60px;
  top: 0;
  right: 29px;
  position: absolute;
  transition: all ease 0.3s;
}
@media (max-width: 991px) {
  section.site-search button {
    right: 20px;
  }
}
section.site-search button:hover {
  color: #6090a7 !important;
  background-color: #01415f !important;
}
section.site-search hr.hr-dark {
  width: 98%;
  border-top: 1px solid #ccc;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section.site-search .sub-link {
  color: #6090a7;
  text-decoration: underline;
  font-size: 1rem;
}
section.site-search .sub-link:hover {
  color: #004d72;
}
section.site-search .search-result p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 5%;
}
section.site-search .search-result:last-child hr {
  display: none;
}
.sidebar .social li {
  display: inline;
}
.sidebar .social .fa-inverse {
  color: #fff !important;
}
.edcc-search {
  display: inline;
  width: 98%;
  height: 60px;
  border-radius: 2px;
  font-size: 1rem;
  line-height: 1.2em;
}
/* Section 17 - Table*/
section.edcc-table .table > thead {
  background-color: #004d72;
  color: #ffffff;
  text-transform: uppercase;
}
section.edcc-table .table > thead > tr {
  height: 60px;
  vertical-align: middle;
}
section.edcc-table .table > thead > tr > th {
  vertical-align: middle;
}
section.edcc-table .table > tbody > tr:nth-of-type(even) {
  background-color: #e1e1e1;
}
section.edcc-table .table > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}
section.edcc-table .table > tbody > tr {
  text-transform: capitalize;
}
section.edcc-table .table > tbody > tr > td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 20px;
}
section.edcc-table .table > tbody > tr > td:first-child {
  border-left: none;
}
section.contact-admin ul.list-inline li:after {
  content: '|';
  padding: 0 0 0 15px;
}
section.contact-admin ul.list-inline li:last-child:after {
  content: none;
}
section.contact-admin .circle-img-mask {
  position: relative;
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  section.contact-admin .circle-img-mask {
    margin: 20px auto;
    width: 200px;
    height: 200px;
  }
}
section.contact-admin .circle-img-mask img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
section.contact-admin hr.hr-dark {
  width: 98%;
  border-top: 1px solid #ccc;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section.contact-admin .sub-link {
  color: #6090a7;
  text-decoration: underline;
  font-size: 1rem;
}
section.contact-admin .sub-link:hover {
  color: #004d72;
}
section.contact-admin .search-result p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-right: 5%;
}
section.contact-admin .search-result:last-child hr {
  display: none;
}
