.two-third {
	@media(max-width:543px) {
		padding-left: 0!important;
	    padding-right: 0!important;
	}
}
.one-third {
	@media(max-width:543px) {
		padding-left: 0!important;
	    padding-right: 0!important;
	}
}

section.article-image {
	img {width:100%;}
}

section.article-text-block {

}

section.accordion {
	.panel-group {
		.panel {
			border-radius: 0;
		    border: none;
		    box-shadow: none;
		    margin-bottom: 5px;
		    a.accordion-link.collapsed {
		    	.fa.fa-minus {
				display:none;
				}
		    }
			a.accordion-link {
				.panel-heading {
					border: 0;
				    padding: 20px;
				    background-color: @brand-primary;
				    border-radius: 0;
				    h4 {
						.fa {
						float: right;
    					padding-right: 10px;
						}
					}
				}
			}

			a.accordion-link[aria-expanded="false"] {
				.panel-heading {
					h4 {
						.fa.fa-plus {
						display:block;
						}
						.fa.fa-minus {
						display:none;
						}
					}

				}
			}
			a.accordion-link[aria-expanded="true"] {
				.panel-heading {
					h4 {
						.fa.fa-plus {
						display:none;
						}
						.fa.fa-minus {
						display:block;
						}
					}

				}
			}


			.panel-collapse {
				.panel-body {
					padding: 40px 30px;
					ul {
						padding: 0 0 0 25px;
   						margin: 0;
						li {
							padding: 0 0 12px 0;
						    font-weight: 400;
						    font-family: 'Lato', sans-serif;						
						}
					}
				}

			}
		}
	}

}