section.breadcrumbs {
	a.nav-link:after {
	    content: ' >';
	    padding: 0 10px;
	}
	a.nav-link:last-child:after {
	    content: none;
	    padding: 0;
	}
	nav {
		a {
		  font-family: 'Lato', sans-serif;
		  font-size: 1rem;
		  margin:0;
		  line-height: 1.25;
		  text-align: left;
		  color:@brand-primary;
		  text-transform: none;
		  transition: color ease 0.3s;
		  @media (max-width: 767px) { font-size: 1.125rem; }
		  
		}
		a:hover {
			color:@brand-grey;
		}
	}
}