
/*****************Button Styles************************/
@media (max-width:767px) {
  .btn-full-width {display:block; width:100%;}
}
.btn-full {width:100%;}

.article-btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: @brand-white;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: @brand-primary;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  margin-top:10px;
  text-align: center;
  display:inline-block;
  overflow: hidden
  }
  .article-btn:hover {
    color: @brand-white;
    background-color: @brand-dark-blue;
  }

.btn-primary {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: #004d72;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #9dd825;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden
  }

.btn-primary:visited {
  color: #004d72;
  background-color: #9dd825;
}

  .btn-primary:hover {
    color: #004d72;
    background-color: #77ad0a;
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #004d72;
    background-color: #77ad0a;
  }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: #004d72;
    background-color: #77ad0a;
    background-image: none;
  }
    .btn-primary:active:hover,
    .btn-primary:active:focus,
    .btn-primary:active.focus,
    .btn-primary.active:hover,
    .btn-primary.active:focus,
    .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: #004d72;
      background-color: #77ad0a;
  }

.btn-secondary {
  font-size: 1rem;
  padding: 1.5rem 0.25rem;
  color: @brand-white;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  background-color: @brand-primary;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden
  }

.btn-secondary:visited {
  color: @brand-white;
  background-color: @brand-primary;
}

  .btn-secondary:hover {
    color: @brand-white;
    background-color: @brand-dark-blue;
  }
  .btn-secondary:focus, .btn-secondary.focus {
    color: @brand-white;
    background-color: @brand-dark-blue;
  }
  .btn-secondary:active, .btn-secondary.active,
  .open > .btn-secondary.dropdown-toggle {
    color: @brand-white;
    background-color: @brand-dark-blue;
    background-image: none;
  }
    .btn-secondary:active:hover,
    .btn-secondary:active:focus,
    .btn-secondary:active.focus,
    .btn-secondary.active:hover,
    .btn-secondary.active:focus,
    .btn-secondary.active.focus,
    .open > .btn-secondary.dropdown-toggle:hover,
    .open > .btn-secondary.dropdown-toggle:focus,
    .open > .btn-secondary.dropdown-toggle.focus {
      color: @brand-white;
      background-color: @brand-dark-blue;
  }

  .btn-accent {
  font-size: 1rem;
  padding: 1rem 3rem;
  color: @brand-white;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  font-style: italic;
  background-color: @brand-accent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden
  }

.btn-accent:visited {
  color: @brand-white;
  background-color: @brand-accent;
}

  .btn-accent:hover {
    color: @brand-white;
    background-color: @brand-primary;
  }
  .btn-accent:focus, .btn-accent.focus {
    color: @brand-white;
    background-color: @brand-primary;
  }
  .btn-accent:active, .btn-accent.active,
  .open > .btn-accent.dropdown-toggle {
    color: @brand-white;
    background-color: @brand-primary;
    background-image: none;
  }
    .btn-accent:active:hover,
    .btn-accent:active:focus,
    .btn-accent:active.focus,
    .btn-accent.active:hover,
    .btn-accent.active:focus,
    .btn-accent.active.focus,
    .open > .btn-accent.dropdown-toggle:hover,
    .open > .btn-accent.dropdown-toggle:focus,
    .open > .btn-accent.dropdown-toggle.focus {
      color: @brand-white;
      background-color: @brand-primary;
  }

.btn-tertiary {
  font-size: 1rem;
  padding: 1.75rem 2rem;
  width:100%;
  color: #252525;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: #dddddd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:none;
  transition: background-color ease 0.3s;
  text-transform: uppercase;
  overflow: hidden
  }

.btn-tertiary:visited {
  color: #252525;
  background-color: #dddddd;
}

  .btn-tertiary:hover {
    color: #252525;
    background-color: #bbbbbb;
  }
  .btn-tertiary:focus, .btn-tertiary.focus {
    color: #252525;
    background-color: #bbbbbb;
  }
  .btn-tertiary:active, .btn-tertiary.active,
  .open > .btn-tertiary.dropdown-toggle {
    color: #252525;
    background-color: #dc8200;
    background-image: none;
  }
    .btn-tertiary:active:hover,
    .btn-tertiary:active:focus,
    .btn-tertiary:active.focus,
    .btn-tertiary.active:hover,
    .btn-tertiary.active:focus,
    .btn-tertiary.active.focus,
    .open > .btn-tertiary.dropdown-toggle:hover,
    .open > .btn-tertiary.dropdown-toggle:focus,
    .open > .btn-tertiary.dropdown-toggle.focus {
      color: #252525;
      background-color: #bbbbbb;
  }

.btn-trans:visited {
  color: #fff;
  background-color: transparent;
}
  .btn-trans {
  font-size: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 600;
  background-color: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border:2px solid #fff;
  transition: background-color ease 0.3s, border-color ease 0.3s;
  }
  .btn-trans:hover {
    color: #fff;
    border-color:#fff;
    background-color: rgba(0,0,0,0.5);
  }
  .btn-trans:focus, .btn-trans.focus {
    color: #fff;
    border-color:#fff;
    background-color: rgba(0,0,0,0.5);
  }
  .btn-trans:active, .btn-trans.active,
  .open > .btn-trans.dropdown-toggle {
    color: #fff;
   border-color:#fff;
    background-color: rgba(0,0,0,0.5);
    background-image: none;
  }
    .btn-trans:active:hover,
    .btn-trans:active:focus,
    .btn-trans:active.focus,
    .btn-trans.active:hover,
    .btn-trans.active:focus,
    .btn-trans.active.focus,
    .open > .btn-trans.dropdown-toggle:hover,
    .open > .btn-trans.dropdown-toggle:focus,
    .open > .btn-trans.dropdown-toggle.focus {
    color: #fff;
    border-color:#fff;
    background-color: rgba(0,0,0,0.5);
  }

@media (max-width:767px ){
.btn-block-mobile-only {
  display: block;
  width: 100%; }
}


/*****************EO Button Styles************************/