

section.card-features {  
	.article-content {
		.image-container {
			width:100%;
			height:175px;
			position: relative;	
			img {
				width: 100%;
				height: 100%;
				object-fit:cover;
				position: absolute;
			}
		}
		.sub-link {
		  color: #6090a7;
		  text-decoration: underline;
		  font-size: .9em;
		  display: block;
    	  line-height: 1.2;
		}
		.sub-link:hover {
		  color: #004d72;
		}
	}
}