
section.community-board {
	
	.post-loop:last-child {
		border-bottom:none;
	}
	.post-loop {
		padding: 25px 0;
	    position: relative;
	    border-bottom: 1px solid #ccc;

		.post-item {
			 
			.img-wrap {
				width: 100%;
			    height: 160px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    @media (max-width:991px) {
			    	position:relative;
			    	height:200px;
			    	margin-bottom: 30px;
			    }

				img {
					width: 100%;
				    height: 100%;
				    object-fit: cover;
				    position: absolute;
				}
			}

			.article-content {
				.article-btn {
					@media (max-width:991px) {
						width:100%;
						padding:1.5rem 0;
						text-align: center;
					}
				}
			}

			.post-date {
				background-color: @brand-accent;
			    position: relative;
			    height: 160px;
			    width: 100%;
			    padding: 36% 0;
			    text-align: center;
			    @media (max-width:991px) { 
			    	padding: 23% 10%;
			    	height:200px;
			    	margin-bottom: 30px;
			    }
			    @media (max-width:767px) { 
			        padding: 20px;
				    margin-bottom: 15px;
				    display: block;
				    height: auto;
				}

			    h5 {margin:0;}
			}
		}
	}

}
	
 section.open-community-board {
 	margin-left: 15px;
    margin-right: 15px;
	/* Section 13 - Open Community Board*/

	.author i{
	  margin-right: 4%;
	}
	.comment .fa-twitter{
	  padding-right: 5px;
	}

	.posthero {
		position: relative;
		width: 100%;
		height: 370px;
		img {
	    	width:100%;
	    	height:100%;
	    	object-fit:cover;
	    	position: absolute;
		}
		.post-date {
			background-color: @brand-accent;
		    position: absolute;
		    padding: 22px 30px;
		    text-align: center;
		    bottom: 0;
		    left: 0;
		    z-index: 999;

		    h5 {margin:0;}
		}
	}

	

	.author {
		padding: 10%;
		@media (max-width:767px) {
			padding:3%;
		}
		a.comments-toggle {
			font-family: 'lato', sans-serif;
			font-size: 1rem;
			color:#252525;
			text-decoration: none;


			.fa-stack {
				font-size: 0.8rem;
			    margin-right: 10px;
			    position: relative;
			    float: left;
			    color: #000;
			    opacity: 1;
			    text-shadow: none;
			}
		}

		a.comments-toggle[aria-expanded="false"] {

			.fa-stack.open {
				display:none;
			}
			.fa-stack.close {
				display:block;
			}
	
		}

		a.comments-toggle[aria-expanded="true"] {
			.fa-stack.open {
				display:block;
			}
			.fa-stack.close {
				display:none;
			}
		}

		.well {
		    min-height: 20px;
		    padding: 30px;
		    margin: 30px 0;
		    background-color: #f5f5f5;
		    border: 1px solid #ccc;
		}
		.collapsing {
			float: left;
		}
	}

	.comment {
		padding: 10%;
		@media (max-width:767px) {
			padding:3%;
		}
		form {
			.form-group {
				.pull-right {
					@media (max-width:767px) {
						float: none!important;
					    display: block;
					    margin-left: 0;
					    padding: 15px 0;
					}

					a {
						color:@brand-primary;
					}
				}
				input.form-control {
				  	display: block;
				    width: 100%;
				    height: 55px;
				    padding-left: 24px;
				    margin-bottom: 15px;
				    font-size: 1rem;
				}
				textarea.form-control {
				  	display: block;
				    width: 100%;
				    padding-left: 24px;
				    padding-top:15px;
				    margin-bottom: 15px;
				    font-size: 1rem;
				}
			}
		}
	}

}