
  section.contact-admin {

  ul.list-inline {
    li:after {
      content: '|';
      padding: 0 0 0 15px;
    }
    li:last-child:after {
      content: none;
    }
  }

  .circle-img-mask {
    position: relative;
    width: 100px;
    height: 100px;
    @media (max-width:767px) {
      margin:20px auto;
      width: 200px;
      height: 200px;
    }

    img {
      position: absolute;
      width:100%;
      height:100%;
      object-fit:cover;
      border-radius: 50%;
    }
  }


  hr.hr-dark{
    width: 98%;
    border-top: 1px solid #ccc;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sub-link{
    color: #6090a7;
    text-decoration: underline;
    font-size: 1rem;
  }
  .sub-link:hover{
    color: #004d72;
  }
  .search-result p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 5%;
  }
  .search-result:last-child hr {
    display: none;
  }
}