
/* Section 17 - Table*/
section.edcc-table {

  .table>thead{
    background-color: #004d72;
    color: #ffffff;
    text-transform: uppercase;
  }
  .table>thead>tr{
    height: 60px;
    vertical-align: middle;
  }
  .table>thead>tr>th{
    vertical-align: middle;
  }
  .table>tbody>tr:nth-of-type(even){
    background-color: #e1e1e1;
  }
  .table>tbody>tr:nth-of-type(odd){
    background-color: #ffffff;
  }
  .table>tbody>tr {
    text-transform: capitalize;
  }
  .table>tbody>tr>td{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 20px;
  }
  .table>tbody>tr>td:first-child{
    border-left: none;
  }

}