.students-page {
	section.section-feature {
		.feature-container:before {
		  	background: url('/images/EDCC_TestimonialImage_StudentSite.png') no-repeat;
		    background-size: cover;
		    content: '';
		    position: absolute;
		    height: 100%;	
		    left: 0;
		    right: auto;
		    width: 40%;	
		    z-index: 10;	
		    @media (min-width: 1200px) and (max-width: 1440px) { width: 36%; }
		    @media (min-width: 992px) and (max-width: 1199px) {width: 50%;}
		    @media (max-width: 991px) {
			    background:none;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			}		
		}
	}
}	
.employees-page {
	section.section-feature {
		.feature-container:before {
		  	background: url('/images/EDCC_Main_TestimonialImage.jpg') no-repeat;
		    background-size: cover;
		    content: '';
		    position: absolute;
		    height: 100%;	
		    left: 0;
		    right: auto;
		    width: 40%;	
		    z-index: 10;	
		    @media (min-width: 1200px) and (max-width: 1440px) { width: 36%; }
		    @media (min-width: 992px) and (max-width: 1199px) {width: 50%;}
		    @media (max-width: 991px) {
			    background:none;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			}		
		}

	}
}
.homepage {
	section.section-feature {
		.feature-container:before {
		  	background: url('/images/EDCC_Main_TestimonialImage.jpg') no-repeat;
		    background-size: cover;
		    content: '';
		    position: absolute;
		    height: 100%;	
		    left: 0;
		    right: auto;
		    width: 40%;	
		    z-index: 10;	
		    @media (min-width: 1200px) and (max-width: 1440px) { width: 36%; }
		    @media (min-width: 992px) and (max-width: 1199px) {width: 50%;}
		    @media (max-width: 991px) {
			    background:none;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			}		
		}
	}
}	

section.section-feature {
	margin: 0;
  	position: relative;

	.feature-container {
	margin: 0;
  	padding: 0;	
  	position: relative;
  	background-color: #00486a;

  		.culture-image {
  			height:350px;
  			width:100%;
  			img {
  				width:100%;
  				height:100%;
  				object-fit:cover;
  			}	
  		}

		.culture-call-right {
		    padding: 16% 10% 24% 10%;
		    position: relative;
		    z-index: 99;
		    @media (max-width: 1199px) { padding: 70px 30px;}

		    h3 {
			    margin-top:0;
			    	@media (min-width: 768px) and (max-width: 991px) { font-size: 2.5rem;}
			}

		    p {
		    	margin-top: 1rem; 
				em {
				    color:#9dd825!important;
				    display: block;
				    margin-top:1rem;
				}
		    }
		    p.quote {	
			    color:#fff!important;
			    font-style: italic;
			    font-size:1.25rem;
			    line-height: 1.3; 
			    font-weight:400;	
			}

		
		    	
		}
	}	

}







