

/*****************Footer Styles************************/
	
.fa-circle {
	color:#023b56;
	}
.fa-inverse {
	color:#004d72!important;
	}	
ul.social-inline {
	float: right;
		@media (max-width:991px) {	
			float: none;
		    margin: 40px auto 0 auto;
		    display: table;
		}

	li.list-inline-item:not(:last-child) {
    	margin-right: 12px;
	}

	li.list-inline-item {
		position: relative;
	    display: inline-block;
	    width: 50px;
	    height: 50px;
	    line-height: 56px;
	    vertical-align: middle;
	    .fa-stack { line-height: 50px;}
	    .fa-stack-2x { font-size: 50px;}
	    .fa-stack-1x { font-size: 28px;}
	}
	li.list-inline-item:hover .fa-circle {
    color: #002333;
	}
}	

footer.page-footer:before {

    z-index: 999;
    	@media (min-width:992px) and (max-width:1439px) {
    	bottom: 442px;
    	left: 0;
    	z-index: -1;	
	    -ms-transform: scale(0.5,0.5);
	    -webkit-transform: scale(0.5,0.5);
	    transform: scale(0.75,0.75);
    	}
    	@media (max-width:991px) {	
		content: none;
    	}
}

footer.page-footer {
color: #fff;
position: relative;
border-left: 0;
border-bottom: 0;
border-right: 0;

	.footer-color {
	background-color:#004d72;
	padding-left: 0;
    padding-right: 0;

    	.footer-padding {
			padding:80px 30px;
			@media (max-width: 767px) {
  				padding:40px 30px;
  			}

  			.vertical-rule {
  				padding: 0 30px;
  				.vr {
  					width: 1px;
				    height: 220px;
				    background-color: #fff;
				  }
  			}
  			.language-button {
  				.btn {
  					width:auto;
  					@media (max-width:991px) { width:100%;}
  				}
  			}
  			.block-button {
				.btn {	
					width:100%;
					@media (max-width:991px) { margin-bottom:40px; }
				}
			}	

			ul.list-group {
				margin-bottom:40px;
				li.list-group-item {
					position: relative;
					display: block;
					padding: 10px 15px 10px 0;
					margin-bottom: 0px;	
					background-color: transparent;
					border: none;
				}
			}
		}
	}



	.footer-copyright {
    overflow: hidden;
    line-height: 50px;
    font-weight: 300;
    background-color: #023b56;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    text-align: right;
    	@media (max-width: 767px) {
			font-size: 1.2rem;
  		}

		.copyright {
			font-size: 1rem;
			font-weight:400;
			color:#fff;
			a {color:#fff;}
			@media (max-width: 991px) {
				text-align: center;
		    	line-height: 24px;
		    	padding: 12px 0;
			}
		}
		.brand-container {

			.brand-logo > img {
			    display: block;
			    max-height: 48px;
			    @media (max-width:991px) { margin:20px auto;}
			}
		}

		

	}

}





/*****************EO Footer Styles************************/