
section.header-hero {
	.jumbotron {
		height:300px;
		@media (max-width: 1199px) {height:100%;}
		@media (min-width: 1200px){padding: 5rem 2rem;position: relative;}
		@media (min-width: 992px) and (max-width:1199px) {position: relative;padding: 5rem 2rem;}
		@media (min-width: 544px) and (max-width:991px) {padding: 2rem 2rem;position: relative;height:100%;}
		@media (max-width: 543px){padding: 1rem 1rem;position: relative;height: 100%;width: 100%;}

		img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}
	}
	.stats-container {
		position: relative;
		z-index: 999;
	}
}


section.login-hero {
	border-top:5px solid #9dd825;

	.jumbotron {
		height:850px;
		@media (max-width: 1199px) {height:100%;}
		@media (min-width: 1200px){padding: 5rem 2rem;position: relative;}
		@media (min-width: 992px) and (max-width:1199px) {position: relative;padding: 5rem 2rem;}
		@media (min-width: 544px) and (max-width:991px) {padding: 2rem 2rem;position: relative;height:100%;}
		@media (max-width: 543px){padding: 2rem 0.5rem;position: relative;height: 100%;width: 100%;}

		img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}

		.landing-left {
			padding:16% 0;
			h1 {
				font-size: 4rem;
			    letter-spacing: 0rem;
			    line-height: 0.9;
			    font-weight: 900;
			    @media (min-width: 767px) and (max-width: 991px) {font-size: 3rem;}
			    @media (max-width: 543px) {padding-top: 1rem;font-size: 2rem;}
			}
		}
		.landing-right {
		    background-color: rgba(255,255,255,0.2);
		    padding: 16%;
		    @media (max-width: 543px){padding: 5%;}
		    p {
		    	font-family: 'Lato', sans-serif;
		    	font-weight:700;
		    	font-size: 1rem;
		    }
		    form.student-login-form {
		    	.form-group {

		    		select.form-control.login {
		    			text-align: center;
  						text-align-last: center;
		    		}
		    		.form-control.login {
					    display: block;
					    width: 100%;
					    height: 60px;
					    padding: 6px 10px;
					    font-size: 1rem;
					    line-height: 1.42857143;
					    color: #707070;
					    background-color: #fff;
					    border: 1px solid #999;
					    border-radius: 3px;
					    font-family: 'lato', sans-serif;
					    text-align: center;
					    @media (max-width: 543px) {
					    	font-size: 0.9rem;
					    }
					}
		    	}
		    	.btn {
		    		width:100%;
		    		padding: 1.2rem;
		    	}
		    }
		}


	}
	.stats-container {
		position: relative;
		z-index: 999;
		text-align: left;
	}
}