
section.image-grid {

	.image-container {
		@media (max-width:1199px) {width:100%;}
	}	

	.grid-row {	
		@media (min-width:1200px) {padding:0;}
		@media (min-width:992px) and (max-width:1199px) {padding: 0;}
		@media (min-width:768px) and (max-width:991px) {padding:0;}
		@media (max-width:767px) {padding:0;}
		.grid-item {
			height: 266px;
			@media (min-width:992px) {padding:7.5px!important;}
			@media (min-width:768px) and (max-width:991px) {padding:7.5px!important;}
			@media (min-width:544px) and (max-width:767px) {height:400px;}
			@media (max-width:767px) {padding:7.5px!important;}	
			img {
				object-fit:cover;
				height:100%;
				width:100%;	
			}
			.text-overlay {
				position: absolute;
			    z-index: 999;
			    width: 100%;
			    height: 100%;
			    left: 0;
			    text-align: center;
			    right: 0;
			    top: 0;
			    padding: 40px 20px;	
			    @media (min-width:544px) and (max-width:767px) {padding: 100px 20px;}
			        
			}

			.style-overlay {
				width: 100%;
			    height: 100%;
			    top: 0;
			    left: 0;
			    z-index: 0;
			    position: relative;
			}

			.style-overlay:before {	
			    content: '';
			    background-color: rgba(16, 88, 124, 0.85);
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    transition: background-color ease 0.3s;
			}
			.text-overlay:hover + .style-overlay:before {	
			    background-color: rgba(16, 88, 124, 0.95);
			}

			
		}
	}
}