

section.hero {

	.jumbotron {

	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    color: white;
	    height: 730px;
	    border-radius: 0;
	    margin-bottom:0;
	    background-position: bottom;

	    img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}

	    @media (min-width: 1200px){
	    	padding: 6rem 2rem;
	    	position: relative;
	    }

	    @media (min-width: 992px) and (max-width:1199px) {
	    	position: relative;
	    	padding: 6rem 2rem;
	    }

	    @media (min-width: 544px) and (max-width:991px) {
	    	padding: 4rem 2rem;
	    	position: relative;
	    	height: 500px;
	    }

	    @media (max-width: 543px){
	    	padding: 4rem 2rem;
	    	position: relative;
	    	height: 500px;
	    	width: 100%;
	    }

	    .checker-title {
	        position: absolute;
    		left: 0;
    		right: 0;
    		bottom: -50px;
    		z-index: 1;
    		@media (max-width: 991px){
    			position: relative;
    			padding-top: 20%;
    		}
    		.head-comp {
    			@media (max-width: 991px){padding:0;}
    		}

	    	h1 {
	    		padding: 30px;
    			background-color: #fff;
    			width: 80%;
    			margin: 0 auto;
				  box-shadow: 0px 11px 10px 0px rgba(77, 81, 88, 0.42);
    			@media (max-width: 1199px){width:100%;}
    			@media (min-width: 767px) and (max-width:991px) {font-size:3rem;}
    			@media (max-width: 543px) {font-size:2rem;}
	    	}
	    }
	}

}


section.image-hero {
	.jumbotron {
		height:340px;
		@media (max-width: 1199px) {height:100%;}
		@media (min-width: 1200px){padding: 5rem 2rem;position: relative;}
		@media (min-width: 992px) and (max-width:1199px) {position: relative;padding: 5rem 2rem;}
		@media (min-width: 544px) and (max-width:991px) {padding: 2rem 2rem;position: relative;height:100%;}
		@media (max-width: 543px){padding: 2rem 2rem;position: relative;height: 100%;width: 100%;}
	}
}






.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 0px;
}


.jumbotron::after,
.jumbotron::before,
.offset-overlay:after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron.brand-overlay-dark:after {background-color: rgba(16, 88, 124, 0.9);}

.jumbotron.overlay-0:after {background-color: rgba(0, 0, 0, 0);}
.jumbotron.overlay-10:after {background-color: rgba(0, 0, 0, 0.1);}
.jumbotron.overlay-20:after {background-color: rgba(0, 0, 0, 0.2);}
.jumbotron.overlay-30:after {background-color: rgba(0, 0, 0, 0.3);}
.jumbotron.overlay-40:after {background-color: rgba(0, 0, 0, 0.4);}
.jumbotron.overlay-50:after {background-color: rgba(0, 0, 0, 0.5);}
.jumbotron.overlay-60:after {background-color: rgba(0, 0, 0, 0.6);}
.jumbotron.overlay-70:after {background-color: rgba(0, 0, 0, 0.7);}
.jumbotron.overlay-80:after {background-color: rgba(0, 0, 0, 0.8);}
.jumbotron.overlay-90:after {background-color: rgba(0, 0, 0, 0.9);}

.jumbotron:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:  0;
    right: 0;
    bottom: 0;
    display: block;
}
.jumbotron:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:  999;
    right: 0;
    bottom: 0;
    display: block;
}

.offset-overlay:after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    right: 0;
    bottom: 0;
    display: block;
}

