
//****************** HEADER MAIN Off Canvas COLOR *********************//

header.header-main {

  //** Off Canvas COLOR **//
  .offcanvas-navbar {
    border-top: 4px solid @brand-tertiary;
    background-color: @brand-secondary;
    
    ul.navbar-nav { 
      li > a {
        color: @brand-white;
        transition: all ease 0.3s;    
      }
      li > a.brand-item-em {
        color: @brand-primary;
        background-color: @brand-tertiary;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      li > a > .fa {
        color: @brand-white;
      }
      li.active a {
        color: @brand-tertiary;
      }
      li.active a .fa {
        color: @brand-tertiary;
      }
    }
    .pull-right.navbar-nav > li {
      border-left:1px solid @brand-dark-blue;
    }
    .pull-right.navbar-nav > li > a > .fa {
      color: @brand-tertiary;
    }
    .pull-left.navbar-nav > li > a:focus, 
    .pull-left.navbar-nav > li > a:hover {
      color: @brand-white;
      background-color: @brand-dark-grey;
    }
    .pull-right.navbar-nav > li > a:focus, 
    .pull-right.navbar-nav > li > a:hover {
      color: @brand-white;
      background-color: @brand-dark-grey;
    }
    .pull-right.navbar-nav > li > a.brand-item-em:focus, 
    .pull-right.navbar-nav > li > a.brand-item-em:hover {
      color: @brand-white;
      background-color: @brand-green-accent;
    }
   .edcc-mobile {
    color: @brand-white;
   }
   .navbar-toggle .icon-bar {
    background-color: @brand-white;
   }

  }
  //** EO Off Canvas Navbar COLOR **//

  //** Logo Navbar COLOR **//
  .logo-navbar {
    background-color: @brand-primary;
  }
  //** EO Logo Navbar COLOR **//

  //** Dropdown Navbar COLOR **//
  .dropdown-navbar {
    background-color: @brand-white;
    .navbar-header {
      .navbar-toggle .icon-bar { background-color: @brand-primary;}
      h5 {
        color: @brand-primary;  
      }
    }

    .navbar-nav {
      li {
        a {
          color: @brand-primary;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
        a:focus, a:hover {
          color: @brand-tertiary;
          background-color: @brand-light-grey;
        }
      }
      li.open {
        a, a:focus, a:hover {
          color: @brand-tertiary;
          background-color: @brand-light-grey;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
      }
      .multicol-nav {
        ul.list-unstyled {
          li {
            a {   
              color: @brand-grey;
              background-color: @brand-transparent;

            }
          } 
        }
      }
      .singlecol-nav {
        ul.list-unstyled {
          li {
            a {   
              color: @brand-grey;
              background-color: @brand-transparent;

            }
          } 
        }
      }
    }
  }
  //** EO Dropdown Navbar COLOR **//
}
//******************EO HEADER MAIN Off Canvas COLOR *********************//


//****************** HEADER EMPLOYEE Off Canvas COLOR *********************//

header.header-employee {

  //** Off Canvas COLOR **//
  .offcanvas-navbar {
    border-top: 4px solid @brand-accent;
    background-color: @brand-light-grey;
    
    ul.navbar-nav { 
      li > a {
        color: @brand-primary;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      li > a.brand-item-em {
        color: @brand-white;
        background-color: @brand-accent;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      li > a > .fa {
        color: @brand-primary;
      }
      li.active a {
        color: @brand-accent;
      }
      li.active a .fa {
        color: @brand-accent;
      }
    }
    .pull-right.navbar-nav > li {
      border-left:1px solid @brand-light-grey;
    }
    .pull-right.navbar-nav > li > a > .fa {
      color: @brand-primary;
    }
    .pull-left.navbar-nav > li > a:focus, 
    .pull-left.navbar-nav > li > a:hover {
      color: @brand-primary;
      background-color: @brand-light-accent;
    }
    .pull-right.navbar-nav > li > a:focus, 
    .pull-right.navbar-nav > li > a:hover {
      color: @brand-primary;
      background-color: @brand-light-accent;
    }
    .pull-right.navbar-nav > li > a.brand-item-em:focus, 
    .pull-right.navbar-nav > li > a.brand-item-em:hover {
      color: @brand-white;
      background-color: @brand-primary; 
    }
    .edcc-mobile {
      color: @brand-primary;
     }
   .navbar-toggle .icon-bar {
      background-color: @brand-grey;
     }
  }
  //** EO Off Canvas Navbar COLOR **//

  //** Logo Navbar COLOR **//
  .logo-navbar {
    background-color: @brand-white;
  }
  //** EO Logo Navbar COLOR **//

  //** Dropdown Navbar COLOR **//
  .dropdown-navbar {
    background-color: @brand-primary;
    .navbar-header {
      .navbar-toggle .icon-bar { background-color: @brand-white;}
      h5 {
        color: @brand-white;
      }
    }

    .navbar-nav {
      li {
        a {
          color: @brand-white;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
        a:focus, a:hover {
          color: @brand-white;
          background-color: @brand-dark-blue;
        }
      }
      li.open {
        a, a:focus, a:hover {
          color: @brand-white;
          background-color: @brand-secondary;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
      }
      .multicol-nav {
        ul.list-unstyled {
          li {
            a { 
              color: @brand-grey;
              background-color: @brand-transparent;
            }
          } 
        }
      }
      .singlecol-nav {
        ul.list-unstyled {
          li {
            a {   
              color: @brand-grey;
              background-color: @brand-transparent;

            }
          } 
        }
      }
    }
  }
  //** EO Dropdown Navbar COLOR **//
}
//******************EO HEADER EMPLOYEE Off Canvas COLOR *********************//


//****************** HEADER STUDENT Off Canvas COLOR *********************//

header.header-student {

  //** Off Canvas COLOR **//
  .offcanvas-navbar {
    border-top: 4px solid @brand-tertiary;
    background-color: @brand-secondary;
    
    ul.navbar-nav { 
      li > a {
        color: @brand-white;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      li > a.brand-item-em {
        color: @brand-primary;
        background-color: @brand-tertiary;
        transition: background-color ease 0.3s, color ease 0.3s;
      }
      li > a > .fa {
        color: @brand-white;
      }
      li.active a {
        color: @brand-tertiary;
      }
      li.active a .fa {
        color: @brand-tertiary;
      }
    }
    .pull-right.navbar-nav > li {
      border-left:1px solid @brand-dark-blue;
    }
    .pull-right.navbar-nav > li > a > .fa {
      color: @brand-tertiary;
    }
    .pull-left.navbar-nav > li > a:focus, 
    .pull-left.navbar-nav > li > a:hover {
      color: @brand-white;
      background-color: @brand-dark-grey;
    }
    .pull-right.navbar-nav > li > a:focus, 
    .pull-right.navbar-nav > li > a:hover {
      color: @brand-white;
      background-color: @brand-dark-grey;
    }
    .pull-right.navbar-nav > li > a.brand-item-em:focus, 
    .pull-right.navbar-nav > li > a.brand-item-em:hover {
      color: @brand-white;
      background-color: @brand-green-accent;
    }
    .edcc-mobile {
      color: @brand-white;
     }
   .navbar-toggle .icon-bar {
      background-color: @brand-white;
     }

  }
  //** EO Off Canvas Navbar COLOR **//

  //** Logo Navbar COLOR **//
  .logo-navbar {
    background-color: @brand-light-grey;
  }
  //** EO Logo Navbar COLOR **//

  //** Dropdown Navbar COLOR **//
  .dropdown-navbar {
    background-color: @brand-white;
    .navbar-header {
      .navbar-toggle .icon-bar { background-color: @brand-primary;}
      h5 {
        color: @brand-primary;
      }
    }

    .navbar-nav {
      li {
        a {
          color: @brand-primary;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
        a:focus, a:hover {
          color: @brand-tertiary;
          background-color: @brand-light-grey;
        }
      }
      li.open {
        a, a:focus, a:hover {
          color: @brand-tertiary;
          background-color: @brand-light-grey;
          transition: background-color ease 0.3s, color ease 0.3s;
        }
      }
      .multicol-nav {
        ul.list-unstyled {
          li {
            a {   
              color: @brand-grey;
              background-color: @brand-transparent;

            }
          } 
        }
      }
      .singlecol-nav {
        ul.list-unstyled {
          li {
            a {   
              color: @brand-grey;
              background-color: @brand-transparent;

            }
          } 
        }
      }
    }
  }
  //** EO Dropdown Navbar COLOR **//
}
//******************EO HEADER STUDENT Off Canvas COLOR *********************//