

.navbar-fixed-bottom, .navbar-fixed-top {
  @media(max-width:768px) {
    position: relative;
    margin-bottom:0;
  }
}

.container.shrink.logo-navbar {
    height: 0;
    -webkit-transition: height .3s ease-in-out;
    -moz-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
}
.container.logo-navbar {
    height:100px;
} 

@media(min-width:992px) {
    .offcanvas-navbar.second {
        padding: 0;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    .logo-navbar.second {
        padding: 15px 0 30px 0;
        -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
        transition: background .3s ease-in-out,padding .3s ease-in-out;
    }

    .second .navbar-header .navbar-brand img {
      width:100%;
      -webkit-transition: width .3s ease-in-out;
      -moz-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
    }

    .second.top-nav-collapse .navbar-header .navbar-brand img {width:50%;}

    .offcanvas-navbar.second.top-nav-collapse {
        padding: 0;   
    }
    .logo-navbar.second.top-nav-collapse {
        padding: 15px 20px;
    }
} 

.navbar-inverse {
    background-color: #ccc;
    border-bottom:1px solid #ccc ;
}


.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-toggle {
  @media (min-width: 992px) { display: none;}
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}




//*************************OFF CANVAS NAVBAR**************************//
.offcanvas-navbar {
    z-index:  9999;

  .edcc-mobile {
    float: right!important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
  }
  .edcc-mobile:hover {cursor: pointer;}

  .pull-left.navbar-nav { 
    @media (max-width:767px) {padding-top:20px;}
    }
  .pull-right.navbar-nav {
     @media (max-width:767px) {padding-bottom:30px;}
    }

  ul.navbar-nav {
    @media (max-width:767px) {
      float: left;
      border: none;
      width: 100%;
      margin: 0;
    }
  }

  ul.navbar-nav li.active a {
    cursor: pointer;
  }

  .pull-right.navbar-nav>li {
    @media (max-width:767px) {border:none;}
  }

  .pull-right.navbar-nav>li>a {
    font-style: italic;
    text-transform: uppercase;
  }  
  .pull-right.navbar-nav>li>a.myedcc-mobile {
    @media (max-width:767px) {display:none;}
  }


  .pull-right.navbar-nav>li>a:focus, 
  .pull-right.navbar-nav>li>a:hover {
    cursor: pointer;
  }   
  .navbar-nav>li>a:focus, 
  .navbar-nav>li>a:hover {
    cursor: pointer;
  }   

 .navbar-nav>li>a {
      padding:14px 16px;
      font-weight: 500;
      font-size:0.875rem;
      font-family:'Gotham', sans-serif;
      text-transform:capitalize;
      @media (max-width: 991px) {padding:14px 5px;}
      @media (max-width:767px) {
        padding: 15px;
        font-size: 1.25rem;
        text-transform: none!important;
        font-style: normal!important;
        text-align: left;
      } 
  } 

  .navbar-nav li a.brand-color-primary {
    @media (max-width:767px) {text-align:center;padding:20px!important;}
  }

  .pull-right.navbar-nav>li>a {
      font-style: italic;
      text-transform: uppercase;
      @media (max-width: 991px) {padding:14px 5px;}
      @media (max-width:767px) {padding: 15px;}

  } 
  .navbar-toggle {
    position: relative;
    float: left;
    padding: 15px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border:none;
    
    .icon-bar {
      display: block;
      width: 32px;
      height: 2px;
      border-radius: 0;
    }
    .icon-bar+.icon-bar {
      margin-top: 8px;
    }
  }

}

//*************************LOGO NAVBAR NAVBAR**************************//
.logo-navbar {
  z-index:  9995;
  .navbar-header {
    @media (max-width:991px) {width:100%;}
    .navbar-brand {
      @media (max-width:991px) {width:100%;}
      img { 
        @media (max-width:991px) {
          width: 40%;
          margin: 0 auto;
          padding: 20px 0;
        }
      }
    }
  }
}






//*************************DROP DOWN NAVBAR**************************//

.dropdown-navbar .navbar-collapse ul.navbar-nav li.nav-item form input.form-control {
    color: #004d72;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    background-color: #fff;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    transition: background-color ease 0.3s;
    text-transform: none;
    height: auto;
    font-size: 1rem;
    padding: 1rem 2rem;
    line-height:1.4;
    border:none;
    box-shadow:inset 0px 0px 1px #333;
}


.dropdown-navbar .navbar-collapse ul.navbar-nav li.nav-item form input.submit {
    font-size: 1rem;
    padding: 1rem 2rem;
    color: #004d72;
    font-family: 'Gotham', sans-serif;
    font-style: italic;
    font-weight: 600; 
    background-color: #9dd825;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border: none;
    line-height:1.4;
    transition: background-color ease 0.3s, color ease 0.3s;
    text-transform: uppercase;
}


.dropdown-navbar.second.top-nav-collapse .navbar-nav>li>a {
  padding:10px 25px;font-size:0.8rem;
  @media (max-width:1199px) {padding:6px 12px;}
  @media (max-width:767px) {padding:18px 12px 18px 12px;}
}

.dropdown-navbar.second .navbar-nav>li>a {
  padding:18px 40px 18px 30px;
  -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
  -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
  transition: background .3s ease-in-out,padding .3s ease-in-out;

  @media (max-width:1199px) {padding:18px 12px 18px 12px;}
}


.dropdown-navbar.top-nav-collapse {
  .navbar-nav>li>a:after {
    right:6px;
  }
} 

.dropdown-navbar {
  z-index:  9991;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 4px 0px rgba(116, 115, 114, 0.5);

    .navbar-header {
      h5 {
        display:none;

        @media (max-width:767px) {
          display:block;
          position: absolute;
          margin: 0;
          text-align: center;
          width: 100%;
          padding: 24px 0;
          font-weight: 500;
          font-size: 1rem;
        }
      }
      .navbar-toggle {
        position: relative;
        float: right;
        padding: 15px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border:none;
        
        .icon-bar {
          background-color: #02496b;
          display: block;
          width: 32px;
          height: 2px;
          border-radius: 0;
        }
        .icon-bar + .icon-bar {
          margin-top: 8px;
        }
      }
    }

   .navbar-collapse {  

      @media (max-width:767px) {
        border-top: 1px solid #ccc;
      }

      li.xs-search {
        padding: 20px 0;

        .input-group {
          position: relative;
          display: table;
          border-collapse: separate;
          width: 100%;
        
          input {
            padding: 25px;
          }
        }
      }
    } 


  .navbar-nav {
    @media (max-width:767px) {
      margin: 0 0 20px 0;
      text-align: left;
    }
  

    .singlecol-nav {
      width: 270px;
      padding:20px 30px;
      
      ul.list-unstyled {
          margin:0;
        li {
          padding: 10px 0;
          border-bottom: 1px solid #ccc;
          
          a {
            font-weight:500;
            font-size:1rem;
          }
          a:hover {color:#999999;}
        }
        li:last-child {
          border-bottom:none;
           @media (max-width:991px) {border-bottom:1px solid #ccc;}
        }
      }
    }


    .multicol-nav {
      width: 540px;
      padding:20px 30px;
      @media (max-width:767px) {width:auto;}  
      @media (min-width:992px) and (max-width:1199px) {width:480px;}
      @media (min-width:768px) and (max-width:991px) {width:350px;}
      ul.list-unstyled {
          margin:0;
        li {
          padding: 10px 0;
          border-bottom: 1px solid #ccc;
          
          a {
            font-weight:500;
            font-size:1rem;
          }
          a:hover {color:#999999;}
        }
        li:last-child {
          border-bottom:none;
           @media (max-width:991px) {border-bottom:1px solid #ccc;}
        }
      }
    }
    
  }
  

  .navbar-nav>li>a {
    font-weight: 600;
    font-family:'Gotham', sans-serif;
    text-transform: uppercase;
  }
  .navbar-nav>li>a.click:after {
    content:none;
  }

  .navbar-nav>li>a:after {
    position: absolute;
    font-family: FontAwesome;
    content: '\f078';
    font-size: 12px;
    right:16px;
    @media (max-width:1199px) {content:none;}
  }
  .navbar-nav>li:last-child>a:after{
    content: none;
  }

  .dropdown-menu.search-menu {
    left: -426px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px; 
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-top: 1px solid #ccc;
    border-radius:0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

}