
section.news-events {

	article.news {
		margin-bottom:30px;

		.article-image {
			width: 100%;
		    height: 265px;
		    position: relative;
			img {		
				position: absolute;
				height:100%;
				width:100%;
				object-fit:cover;
			}
		}
		.article-content {

			a.readmore {
				font-weight: 600;
			    font-style: italic;
			    color: #252525;
			    font-size: 0.85rem;
			}

		}		

	}	
	article.events {
		height: 464px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    

		ul.event-list-group {
					
			li.event-item {
				 margin-bottom: 21px;

				.xxs-full {
				 	@media (max-width:543px) {width: 100%;margin-bottom: 15px;}		
	
					.event-date {
						background-color: #004d72;
	    				text-align: center;
	    				padding: 15px 0;

						h5 {
							font-weight:500;
							margin: 0.25rem 0 0 0;
						}
						
						h4 {
							font-weight:700;
							margin: 0.25rem 0;
						}
					}

					.event-content {
						h5 {
							font-weight:700;
							margin: 0.25rem 0;
						}

						ul.group-details {

							li.details-item {
								font-weight: normal;
								font-family:'Gotham-Book',sans-serif;
								.fa {
									width: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	article.dates {
		height: 464px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    margin-bottom:30px;

		ul.event-list-group {
					
			li.event-item {
				 margin-bottom: 21px;

				.xxs-full {
				 	@media (max-width:543px) {width: 100%;margin-bottom: 15px;}		
	
					.event-date {
						background-color: @brand-accent;
	    				text-align: center;
	    				padding: 15px 0;

						h5 {
							font-weight:500;
							margin: 0.25rem 0 0 0;
						}
						
						h4 {
							font-weight:700;
							margin: 0.25rem 0;
						}
					}

					.event-content {
						h5 {
							font-weight:700;
							margin: 0.25rem 0;
						}

						ul.group-details {

							li.details-item {
								font-weight: normal;
								font-family:'Gotham-Book',sans-serif;
								.fa {
									width: 20px;
								}
							}
						}
					}
				}
			}
		}
	}

	.article-button {

	}


}
	

article.events::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #ddd;
}

article.events::-webkit-scrollbar {
	width: 14px;
	background-color: #ddd;
}

article.events::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #004d72;
}

article.dates::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #ddd;
}

article.dates::-webkit-scrollbar {
	width: 14px;
	background-color: #ddd;
}

article.dates::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: #004d72;
}
