
/*
 * Off Canvas
 * --------------------------------------------------
 */

section.myedcc {
  position: fixed;  
  top: 0;
  right: 0;
  width: 80%;
  z-index: 9998;
  @media (max-width:991px) {width:100%;}
}

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;  
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
    position: absolute;
    width: 50%;
    top: 0;
    z-index: 9999; 
    @media (max-width:991px) {width:100%;} 
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%;
    top: 52px;
    @media (max-width:543px) { top: 75px;}
    @media (min-width:544px) and (max-width:767px) {top: 75px;}
    @media (min-width:768px) and (max-width:991px) {}
    @media (min-width:992px) and (max-width:1199px) {}
    @media (min-width:1200px) {}
  }

  .row-offcanvas-right.active {
    right: 50%;
    @media (max-width:991px) {width:100%; right:92%;}
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: #464646;
    box-shadow: inset 4px 0px 13px 0px rgba(0,0,0, 0.5);
    padding:40px 50px;
    @media (max-width:543px) { width: 100%;}
    @media (min-width:544px) and (max-width:767px) { width: 100%;}
    @media (min-width:768px) and (max-width:991px) { width: 100%;}
    @media (min-width:992px) and (max-width:1199px) {width:100%;}
    @media (min-width:1200px) and (max-width:1439px) {width: 78%;}
    @media (min-width:1440px) {width: 68%;}
    @media (max-width:768px) {padding: 40px 20px 40px 30px;}
       

    ul.side-group {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 10px;

        a.side-group-item {
          color: #fff;
          font-size: 1.125rem;
          font-weight: 300;
          @media (max-width:991px) { font-size: 1.25rem;} 

          i {padding-right: 10px;
          }
        }
        a.side-group-item:hover,
        a.side-group-item:focus {
          color: #9dd825;
        }
      }

    }



  }
