
//Registration Section Styles //

section.registration-dropdown { 

    .faq-block {
        
        
        @media (max-width: 543px) {border-left:none;}

        .workshop-block {
            margin-bottom:45px;
        }
    }             
	.register-card {
		background: #fff;
    	position: relative;
    	width: 100%;
    	padding: 30px 30px 30px 0;
        border-bottom: 1px solid #ccc;
    	margin:0;
        border-left: 8px solid #82a600;
        box-shadow: 0px 4px 10px 0px rgba(77, 81, 88, 0.11);

    	@media (min-width:544px) and (max-width: 767px) {
    		padding: 30px;
    	}
    	@media (max-width: 543px) {padding: 30px 15px;}

        button.closed[aria-expanded="false"] {display: block;}
        button.closed[aria-expanded="true"] {display: none;}    

        button.open[aria-expanded="false"]{ display: none; }
        button.open[aria-expanded="true"]{ display: block; }

        .card-icon-top {
            background-color: #82a600;
            padding: 15px;
            width: auto;
            display: inline-block;
            position: relative;
            h3 {
            margin-bottom:0;
            @media (max-width:767px) {
            font-size: 2rem;
                }
            }
        }       
        .card-icon-top:after {
            content: "";
            position: absolute;
            bottom: -25px;
            left: 37px;
            border: 0;
            border-left-width: 6px;
            border-bottom-width: 25px;
            border-style: solid;
            border-color: transparent #fff;
            display: block;
            width: 0;
                @media (max-width:767px) {
                    left:25px;
                }
        }
        .card-icon-top:before {
            content: "";
            position: absolute;
            bottom: -25px;
            left: 37px;
            border: 0;
            border-left-width: 20px;
            border-bottom-width: 25px;
            border-style: solid;
            border-color: transparent #82a600;
            display: block;
            width: 0;
            @media (max-width:767px) {
                    left:25px;
                }
        }   
        .reg-answer {
            float: left;
            text-align: left;
            @media (max-width: 767px) {
                padding-right: 0px;
                padding-left: 0px;
            }
        }
	    .reg-date {
    		display: table-cell;
    		vertical-align: middle;
            float: none;    
            text-align: center;
            

    		p { 
    		@media (max-width: 543px) {padding-top:15px;}
    		}

    		@media (min-width:544px) and (max-width: 767px) {float: left;}
    		@media (max-width: 543px) {
    			float: left;
    			text-align: left;    
    			padding: 0; 
    		}
	    	
	    	h4 {
	    		font-weight: 300;
    			color: #82a600;
    			margin-bottom: 0;
    			text-transform: uppercase;
    		}
	    	h1 {
	    		font-weight: 700;
	    		margin-bottom: 0;
	    	}
	    	.xs-date {
			    width: 25%;
			    display: inline;
			    position: relative;
			    float: left;
			    text-align: left;
			}
			.normal-date {
			    width: 74%;
			    display: inline-block;
			    position: relative;
			    text-align: left;
			    border-left: 1px solid #ccc;
			    padding-left: 20px;
                @media (max-width: 543px) {padding-left: 20px;}
                
			}
	    }
	    .reg-description {
    		display: table-cell;
    		vertical-align: middle;
    		float: none;
    		padding-left: 36px;
    		border-left: 1px solid #ccc;
    		@media (min-width:544px) and (max-width: 767px) {
    			float: left;
    			padding: 0 36px;
    		}	
    		@media (max-width: 543px) {float: left;}
	    }
	    .reg-button {
    		display: table-cell;
    		vertical-align: middle;
    		float: none;
			a {text-decoration: none;}

    		@media (min-width:544px) and (max-width: 767px) {
    			float: left;
    			padding: 30px 0;
    		}
    		@media (max-width: 543px) {
    			padding-right: 0;
   		 		padding-left: 0;
    			float: none;
                display: block;
    		}

    		button {
    			width: 100%;
    			padding:1.5em 0;
    		}
		}

	}

}		




//EO Registration Section Styles //


