/*  Section 10 - Class Search Results  */

section.class-search {

  .results-course {
    .title {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .brand-bg-secondary {
      min-height: 50px;
      padding: 1% 2%;
    }

    .results-class {
      .num {
        background-color: #6090a7;
        width: 100%;
        padding: 36% 0;
        text-align: center;
        @media (max-width:767px) {
          padding:4%;
        }
        h5 {
          @media (max-width:767px) {
            font-size: 1.5rem;
          }
        }
      }
      .num .hr-sm{
        margin-top: 0;
        border-top: 3px solid #fff;
      }
      .details {
        @media (max-width:767px) {
          padding-top:3%;
          padding-bottom:3%;
        }
        .list-search {
          span {
            text-decoration: underline;
          }
          .read-more {
            text-decoration: underline;
            color: @brand-primary;
            font-style: italic;
            font-weight: 700;
          }
          em {
            font-style:normal;
            position: relative;
          }
          em.open:after {
            content: '';
            position: absolute;
            border-radius: 6px;
            width: 12px;
            height: 12px;
            background-color: #9dd825;
            right: -21px;
            top: 5px;
          }
          em.closed:after {
            content: '';
            position: absolute;
            border-radius: 6px;
            width: 12px;
            height: 12px;
            background-color: red;
            right: -21px;
            top: 5px;
          }
        }
      }
    }

    hr.hr-ltdark:last-child {
      visibility: hidden;
    }
  }
}



section.article-image {
  img {width:100%;}
}

section.article-text-block {

}



/* Section 18 - Site Search Results*/

  section.site-search {

  button{
    display: inline-block;
    border-radius: 2px;
    background-color: #004d72;
    color: #ffffff;
    height: 60px;
    width: 60px;
    top: 0;
    right: 29px;
    position: absolute;
    transition: all ease 0.3s;
    @media (max-width:991px) {
      right: 20px;
    }
  }
  button:hover {
    color:@brand-accent;
    background-color: @brand-dark-blue;
  }

  hr.hr-dark{
    width: 98%;
    border-top: 1px solid #ccc;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sub-link{
    color: #6090a7;
    text-decoration: underline;
    font-size: 1rem;
  }
  .sub-link:hover{
    color: #004d72;
  }
  .search-result p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 5%;
  }
  .search-result:last-child hr {
    display: none;
  }
}


.sidebar .social li{
  display: inline;
}
.sidebar .social .fa-inverse{
  color: #fff !important;
}
.edcc-search {
    display: inline;
    width: 98%;
    height: 60px;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.2em;
}



