.one-third.col-lg-4 {
	section.sidebar {
	
		.one-fourth {
			.sidebar-text {
				padding: 15% 25px 5% 25px;
			}
		}
	}
}


section.sidebar {
	ul{
	  padding-left: 0;
	  list-style: none;
	}
	ul li a{
	  text-transform: capitalize;
	}
		
	form.search-form {

		.search-input-group .input-group-addon {
	    	background: white !important; 
	    	padding:16px 12px;
	    	border-radius: 0;
		}
		.search-input-group .form-control {
			border-right:0; 
			box-shadow:0 0 0; 
			border-color:#ccc;
			padding:16px 12px;
			height:auto;
			font-size: 1rem;
		}
		.search-input-group button {
		    border:0;
		    background:transparent;
		}

	}

	.one-fourth {
		position: relative;
	    display: block;
	    float: left;
	    background: #ffffff;
	    overflow: hidden;
	    width: 100%;
    	margin: 30px 0;
    	height: 400px;


		.sidebar-text {
			position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    background: rgba(0,72,106,0.93);
		    padding: 15% 10px 5% 10px;
   			text-align: center;
   			h4 {
   				@media (max-width:1199px) {
   					font-size:1.25rem; 
   				}
   			}
   			.fa {font-size:2rem;}
   			.btn {padding: 1rem 3rem;}
		}

		.sidebar-text {

		}

		.sidebar-underlay {

			img {	
			    position: absolute;
			    top: 0;
			    left: 0;
			    display: block;
			    padding: 0;
			    overflow: hidden;
			    right: 0;
			    bottom: 0;
			    margin: 0;
			    object-fit: cover;
			    height: 100%;
			    width: 100%;
			}
		}

	}
	.post-box {
		padding: 50px;
	    background-color: #fff;
	    box-shadow: 0px 2px 9px 0px rgba(57, 58, 58, 0.1);
	    margin-bottom:30px;

	    ul.list-group {
	    	li.list-group-item {
	    		position: relative;
			    display: block;
			    padding: 9px 0;
			    margin-bottom: 0;
			    background-color: #fff;
			    border: none;
			    font-family: 'lato',sans-serif;
			    font-weight: 400;
			    line-height: 1;
			    a {color:#333;}
			    a.email {
			    	text-decoration: underline;
			    	color:@brand-primary;
			    }
			}
			li.list-group-item.subtitle	{
				font-weight:900;
				margin-top:15px;
			}
			li.list-group-item.subtitle:first-child	{
				margin-top:0!important;
			}		
	    }
	}
	.social-box {
		padding: 20px;
	    background-color: #fff;
	    box-shadow: 0px 2px 9px 0px rgba(57, 58, 58, 0.1);
	    margin-bottom:30px;

	    .social-overflow {
		    height: 500px;
		    overflow-x: hidden;
		    overflow-y: scroll;
			
			.fb-post.fb_iframe_widget {
				margin-bottom:30px;
				width: 100%;
				span {
					width:100%!important;
	    			iframe {
	    				@media (min-width:992px) {max-width: 314px;}
	    				padding-right: 15px;
	    				width: 100%!important;
	    			}
	    		}
	    	}

		}
		.social-overflow::-webkit-scrollbar {
		    width: 16px;
		}
		 
		.social-overflow::-webkit-scrollbar-track {
		    background-color: @brand-light-grey;
		}
		 
		.social-overflow::-webkit-scrollbar-thumb {
		  background-color: darkgrey;
		  outline: 1px solid slategrey;
		  -webkit-border-radius: 10px;
    	  border-radius: 10px;
		}
	    
	    
	}
	.social-box.like {
		display:table;
		width: 100%;
	    .image-box-25 {
	    	width: 25%;
		    float: left;
		    position: relative;
		    min-height: 1px;
		}
		.button-box-75 {
	    	width: 75%;
		    float: left;
		    position: relative;
		    min-height: 1px;
		    h5 {margin-top:0;}
		}
	}

}