// Skeleton Styles //

@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@brand-color: #82a600;

.brand-color {
  color: @brand-color;
}
.brand-bg-color {
  background-color: @brand-color;
}











// EO Skeleton Styles //