
section.image-hero {
	
	.stats-container {
		position: relative;
		z-index: 999;

		.stats-item {	
			h2 {		
				font-size: 3.75rem;
			    margin-bottom: 0.5rem;
			    font-family: 'Gotham', sans-serif;
			    font-weight: 600;
			    letter-spacing: 0.04rem;
			    line-height: 1;
			    color: #fff;
			    font-style: normal;
			    text-transform: uppercase;
			    @media (max-width: 767px) { 
			    	font-size:2rem;
			    }
			}
			@media (max-width:1199px) {
		    	padding:20px 0;
		    }
		}	

		.stats-item:after {
		    border-right: 1px solid rgba(255,255,255,0.4);
		    content: '';
		    position: absolute;
		    right: 0;
		    top: 25%;
		    height: 25%;
		    @media (max-width:1199px) {
		    	content:none;
		    }
		}
		.stats-item:last-child:after {
			content: none;
		}
	}
	
}