section.students-hero {	

	.jumbotron:before {box-shadow:inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);}
	
	.jumbotron {		
	   
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;	
	    color: white;	
	    height: 730px;
	    border-radius: 0;
	    margin-bottom:0;
	    background-position: bottom;

	    img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}
	   
	    @media (min-width: 1200px){
	    	padding: 12rem 2rem 4rem 2rem;	
	    	position: relative;
	    }

	    @media (min-width: 992px) and (max-width:1199px) {
	    	position: relative;
	    	padding: 6rem 2rem;
	    }

	    @media (min-width: 544px) and (max-width:991px) {
	    	padding: 2rem 2rem;
	    	position: relative;
	    	height: 700px;
	    }
	    	
	    @media (max-width: 543px){
	    	padding: 4rem 2rem;
	    	position: relative;
	    	height: 840px;
	    	width: 100%;		
	    }
	    .stu-overlay-content {
	    	position: relative;
	    	z-index: 999;
	    	
	    	.student-quicklinks {
	    		position: relative;
			    width: 100%;
			    margin: 0 auto;
			    background-color: rgba(255,255,255,0.2);
			    display: table;
			    padding: 50px;
			    @media (max-width: 543px) {
			        padding: 20px 0;
			     }
	
	    		.btn {
	    			width: 100%;
	    			@media (max-width: 991px) {
	    				margin:10px 0;
	    			}
	    			@media (max-width: 543px) {
	    				padding: 1.5rem 0;
	    			}
	    		}
	    	}
	    }

	}

}

section.students-hero-internal {	

	.jumbotron:before {box-shadow:inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);}
	
	.jumbotron {		
	   
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;	
	    color: white;	
	    height: 500px;
	    border-radius: 0;
	    margin-bottom:0;
	    background-position: bottom;

	    img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}
	   
	    @media (min-width: 1200px){
	    	padding: 8rem 2rem 4rem 2rem;	
	    	position: relative;
	    }

	    @media (min-width: 992px) and (max-width:1199px) {
	    	position: relative;
	    	padding: 6rem 2rem;
	    }

	    @media (min-width: 544px) and (max-width:991px) {
	    	padding: 2rem 2rem;
	    	position: relative;
	    	height: 500px;
	    }
	    	
	    @media (max-width: 543px){
	    	padding: 4rem 2rem;
	    	position: relative;
	    	height: 600px;
	    	width: 100%;		
	    }
	    .stu-overlay-content {
	    	position: relative;
	    	z-index: 999;
	    }

	}

}

section.employee-hero {	

	.jumbotron:before {box-shadow:inset 0px 0px 200px 60px rgba(0, 0, 0, 0.8);}
	
	.jumbotron {		
	   
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;	
	    color: white;	
	    height: 500px;
	    border-radius: 0;
	    margin-bottom:0;
	    background-position: bottom;

	    img.simple-image {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
		    left: 0;
		    top: 0;
		}
	   
	    @media (min-width: 1200px){
	    	padding: 8rem 2rem 4rem 2rem;	
	    	position: relative;
	    }

	    @media (min-width: 992px) and (max-width:1199px) {
	    	position: relative;
	    	padding: 6rem 2rem;
	    }

	    @media (min-width: 544px) and (max-width:991px) {
	    	padding: 2rem 2rem;
	    	position: relative;
	    	height: 500px;
	    }
	    	
	    @media (max-width: 543px){
	    	padding: 4rem 2rem;
	    	position: relative;
	    	height: 600px;
	    	width: 100%;		
	    }
	    .stu-overlay-content {
	    	position: relative;
	    	z-index: 999;
	    }

	}

}