

// Testimonials Section Styles //

section.testimonials {

	@media (min-width:992px){padding: 3% 0 0 0;}
    @media (min-width:768px) and (max-width:991px){padding: 3% 0 0 0;}
    @media (min-width:544px) and (max-width:767px){padding: 3% 0 0 0;}
    @media (max-width:543px){padding: 3% 0 0 0;}

    .quote-wrapper {
    	position: relative;
    	top: -150px;
    	z-index: 10;
    }

		
	.quote-box {
    background: #fff;
    text-align: center;
    padding: 8% 10%;
    position: relative;
    box-shadow: 0px 11px 10px 0px rgba(77, 81, 88, 0.42);
    	@media (min-width:992px) and (max-width:1199px){padding:10%;}
    	@media (min-width:544px) and (max-width:991px) {padding: 15% 10%;}
    	@media (max-width:543px) {padding: 20% 10%;}

    	h6 {
    	font-style: italic;
    	line-height: 1.6;
    	font-weight: 600;
    	padding:;

    		em {
    		font-weight: 700;
    		color:#82a600;
    		}
    	}

	    .quote-icon {
	    width: 120px;
	    height: 120px;
	    background: #82a600;
	    -moz-border-radius: 60px;
	    -webkit-border-radius: 60px;
	    border-radius: 60px;
	    margin: 0 auto;
	    text-align: center;
	    display: table;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: -25%;
	    @media (max-width:543px) {top: -18%;}
		}

    	i.fa.fa-quote-left {
	    display: table-cell;
	    vertical-align: middle;
	    color: #fff;
	    font-size: 3rem;
		}
	}	

	.testimonial-image {
    width: 100%;
    height: 850px;
    position: relative;
    @media (min-width:992px){height: 850px;}
    @media (min-width:768px) and (max-width:991px){height: 500px;}
    @media (min-width:544px) and (max-width:767px){height: 450px;}
    @media (max-width:543px){height: 400px;}

		img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    position: absolute;
	    object-position: bottom;
		}

	}
}		

// EO Testimonials Section Styles //