
/*****************GLOBAL Typography / Theme Styles************************/


.wrapper {
    padding: 220px 0 0 0;
    @media (min-width:768px) and (max-width: 991px){padding:211px 0 0 0;}
    @media (max-width: 767px){padding:0;}    
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}

a {     
  color: #82a600;
}

a:hover {
    text-decoration: none;
}

a:focus, 
a:hover {  
    color: #046296;
  }
.acf-field-wysiwyg.mce_height_adjust .acf-editor-wrap iframe {    
  height: 100px!important;
  min-height:  100px!important;
}   


.brand-bg-accent {background-color:#6090a7!important;} /* Accent Blue */
.brand-bg-primary {background-color:#004d72!important;} /* Brand Blue */
.brand-bg-secondary {background-color:#02496b!important;} /* Dark Blue */
.brand-bg-tertiary {background-color:#9dd825!important;} /* Brand Green */
.brand-bg-white {background-color:#ffffff!important;} /* White */
.brand-bg-grey {background-color:#f4f4f4!important;} /* Light Grey */
.brand-bg-dark {background-color:#262626!important;} /* Dark Grey */

@brand-accent: #6090a7!important; /* Accent Blue */
@brand-primary: #004d72!important; /* Brand Blue */
@brand-secondary: #02496b!important; /* Dark Blue */
@brand-dark-blue: #01415f!important; /* Darkest Blue */
@brand-tertiary: #9dd825!important; /* Brand Green */
@brand-green-accent: #77ad0a!important; /* Brand Green Accent */
@brand-white: #ffffff!important; /* White */
@brand-light-grey: #f4f4f4!important; /* Light Grey */
@brand-light-accent: #cccccc!important; /* Light Grey Accent */
@brand-grey: #707070!important; /* Grey */
@brand-dark-grey: #262626!important; /* Dark Grey */
@brand-transparent: transparent!important; /* Transparent */

.brand-color-primary {color:#004d72!important;}
.brand-color-secondary {color:#02496b!important;}
.brand-color-tertiary {color:#9dd825!important;}
    
.bg-hip-grey {
  background-color: #e9e9e9!important;
}
.smaller {
  font-size:14px;
  line-height:1.6;
}
.bg-hip-green {
  background-color: #82a600;
}

.bg-infinit-blue {
    background-color: #82a600;
}

.bg-hip-charcoal {
    background-color: #2f3336;
}   
.bg-hip-white {
    background-color: #fff;
    z-index: -1;
}

.bg-infinit-yellow {
    background-color: #ff9700;
}

.img-circle {border-radius:50%;}

.img-centered {
  margin: 0px auto;
  display: block;
}

.text-italicize {
  font-style:  italic!important;
}
.text-bold {
  font-weight: bold!important;
}   

button:focus {
    outline:none!important;
}


hr.hr-dark{
    border-top: 1px solid #ccc;
}

.brand-bg-dkgrey{
  background-color: #DDDDDD;
}

hr.hr-ltdark{
  border-top: 1px solid #ccc;
}

