
// Master Typography Styles //
@font-face {    
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Black.eot');
  src: url('/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Black.woff') format('woff'),
    url('/fonts/Gotham-Black.ttf') format('truetype'),
    url('/fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: 700;
  font-style: normal; 
} 


/**Gotham Bold**/
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Bold.eot');
  src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Bold.woff') format('woff'),
    url('/fonts/Gotham-Bold.ttf') format('truetype'),
    url('/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {    
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Medium.eot');
  src: url('/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Medium.woff') format('woff'),
    url('/fonts/Gotham-Medium.ttf') format('truetype'),
    url('/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal; 
} 

/**Gotham Light**/
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.eot');
  src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Light.woff') format('woff'),
    url('/fonts/Gotham-Light.ttf') format('truetype'),
    url('/fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

/**Gotham Book**/
@font-face {
  font-family: 'Gotham-Book';
  src: url('/fonts/Gotham-Book.eot');
  src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gotham-Book.woff') format('woff'),
    url('/fonts/Gotham-Book.ttf') format('truetype'),
    url('/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

.w900 {font-weight:900!important;}
.w800 {font-weight:800!important;}
.w700 {font-weight:700!important;}
.w600 {font-weight:600!important;}
.w500 {font-weight:500!important;}
.w400 {font-weight:400!important;}
.w300 {font-weight:300!important;}
.w200 {font-weight:200!important;}
.w100 {font-weight:100!important;}



html {
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     @media (max-width: 767px) { font-size: 16px; }
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;   
  font-size:16px;
  font-weight: 400;
  color: #2f3336;
  overflow-x: hidden;
  background-color: #f5f5f5;
  @media (max-width: 767px) { font-size: 16px; }

}
  

strong {font-weight:bold;}

.light,
h1.light, h1 .light, h1 span.light, h1.span.light, h1.light span,
h2.light, h2 .light, h2 span.light, h2.span.light, h2.light span,
h3.light, h3 .light, h3 span.light, h3.span.light, h3.light span,
h4.light, h4 .light, h4 span.light, h4.span.light, h4.light span,
h5.light, h5 .light, h5 span.light, h5.span.light, h5.light span,
h6.light, h6 .light, h6 span.light, h6.span.light, h6.light span,
p.light, p .light {
  color: rgba(255, 255, 255, 0.75); 
}

.lighter,
h1.lighter, h1 .lighter, h1 span.lighter, h1.span.lighter, h1.lighter span,
h2.lighter, h2 .lighter, h2 span.lighter, h2.span.lighter, h2.lighter span,
h3.lighter, h3 .lighter, h3 span.lighter, h3.span.lighter, h3.lighter span,
h4.lighter, h4 .lighter, h4 span.lighter, h4.span.lighter, h4.lighter span,
h5.lighter, h5 .lighter, h5 span.lighter, h5.span.lighter, h5.lighter span,
h6.lighter, h6 .lighter, h6 span.lighter, h6.span.lighter, h6.lighter span,
p.lighter, p .lighter {
  color: rgba(255, 255, 255, 1.0); 
}


h1 {
  font-size: 3.75rem;
  margin-bottom:0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
  line-height: 1;
  color:#004d72;
  text-transform: uppercase;
  @media (max-width: 767px) { font-size:2rem;}
  
  span {color:#9dd825!important;} 
  span.accent {color:@brand-accent!important;}    
} 

      
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
} 

    
h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing:  0.04rem;
  line-height: 1.4;
  color:#004d72;
  text-transform: uppercase;
  @media (max-width: 767px) {
    line-height: 1;
    font-size:2rem;
  }
  span {color:#9dd825!important;}   
}
  

h4 {
	font-family: 'Gotham', sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.25px;
  color: #252525;
  text-transform: uppercase;
  margin: 0;
  span.thin {font-weight: 300;}
}


h5 {  
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  letter-spacing:  0.02rem;
  line-height: 1.22;
  color:#252525;
  text-transform: uppercase;
} 

h6 {  
	font-size: 1rem;
	margin-bottom: 0.5rem;
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color:#333;
  text-transform: none;

}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  margin:0;
  line-height: 1.4;
  text-align: left;
  color:#252525;
  text-transform: none;
  @media (max-width: 767px) { font-size: 1.125rem; }
  
}


hr.lighter {
     border-top: 6px solid rgba(255, 255, 255, 1)!important;
}

hr.light {border-top-color: #fff!important;}

hr.dark {border-top-color: #333!important;}

hr.hr-lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 6px solid #004d72;
    width: 85px;
    display: inline-block;
    left: 0;
}

hr.hr-md {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 3px solid #252525;
    width: 40px;
    display: block;
    text-align: left;
} 

hr.hr-sm {
    margin-top: 0.75rem;
    margin-bottom: 0.6rem;
    border: 0;
    border-top: 3px solid #252525;
    width: 40px;
    display: inline-block;
    text-align: left;
}
  

.left-justify {
  text-align: left;
}   
.text-centered {
  text-align: center!important;
}
.right-justify {
  text-align: right;
}

p.text-centered {
  text-align: center;
  line-height: 1.5;
}

section.heading {

}


// EO Master Typography Styles //